[2014-12-05 03:09] smit1678 opened #1 "Typhoon Ruby initial request - eastern shore areas from adjusted track"
Pulling the adjusted track priority areas from the HOT imagery list into a ticket. From the priority requests [24](http://hirc.dev.hotosm.org/requests/24/), [25](http://hirc.dev.hotosm.org/requests/25/), and [26](http://hirc.dev.hotosm.org/requests/26/), below is a quick grab some of the best recent imagery. Some of these images have significant clouds inland, but have clear sections over cities a

[2014-12-05 05:23] MarkCupitt commented on #1
_@smit1678_ These all  look Great for initial images. We are preparing Tasks now, let me know when/how Imagery will be available, license made available under and required attributions.
Thanks

[2014-12-05 16:23] smit1678 commented on #1
@MarkCupitt Based on your note to the list, here are some new scenes that could be used:

| Catalog ID | Sensor | Acquisition Date |
| --- | --- | --- |
| [1020010033480C00](https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1020010033480C00) | WV1 | 07-12-2014 |
| [1020010032441400](https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1020010032441400) |

[2014-12-06 05:29] MarkCupitt commented on #1
Hi Nate, here is our Wishlist Poly for now. We are still waiting on the track confirmation, but this area is high probability of being part of the track in some way. Priority would be to the North, especially the islands.

Cannot Upload GeoJson, but here is a link to my Gist

https://gist.github.com/MarkCupitt/9c58b429b279b59040b5

[2014-12-06 05:43] MarkCupitt commented on #1
Hi Nate

Here is a secondary Wish list in case the track heads up towards Manila

https://gist.github.com/MarkCupitt/31f57cb5140d6ce23744

[2015-04-07 22:17] clairedelune opened #2 "DRC - CAR refugee camp: Mole"
Imagery not older than Oct. 2014 needed, the more recent the better.

[2015-04-07 22:17] clairedelune opened #3 "DRC - CAR refugee camp: Inke"
Imagery not older than Oct. 2014 needed, the more recent the better.

[2015-04-07 22:17] clairedelune opened #4 "DRC - CAR refugee camp: Mboti"
Imagery not older than Oct. 2014 needed, the more recent the better.

[2015-04-07 22:18] clairedelune opened #5 "DRC - CAR refugee camp: Boyabu"
Imagery not older than Oct. 2014 needed, the more recent the better.

[2015-04-25 15:16] smit1678 opened #6 "Nepal earthquake - identify priority locations"
Starting a thread to gather priority locations for imagery requests.

uMap for tracking areas started here: http://umap.openstreetmap.fr/en/map/2015-nepal-earthquake_37675#9/27.6531/85.9982

To do:
- [x] identify areas
- [x] draw areas on [uMap](http://umap.openstreetmap.fr/en/map/2015-nepal-earthquake_37675#9/27.6531/85.9982)
- [x] ticket out individual requests in separate threads here

[2015-04-25 15:19] mikelmaron commented on #6
@smit1678 I updated the uMap link, just created one at http://umap.openstreetmap.fr/en/map/2015-nepal-earthquake_37675#9/27.6531/85.9982

Can you ping imagery-coord? We need to identify areas where Bing/MapBox are lacking. Some reports already http://tasks.hotosm.org/project/994#task/6

[2015-04-25 15:22] mikelmaron commented on #6
Bing analyser says significant gaps in coverage in region http://ant.dev.openstreetmap.org/bingimageanalyzer/?lat=27.82328839626378&lon=85.70709228515625&zoom=9&l=osm

[2015-04-25 15:26] smit1678 commented on #6
@mikelmaron excellent, thanks. imagery-coord pinged.

[2015-04-25 17:32] smit1678 commented on #6
Added a layer showing Bing low-res areas: http://umap.openstreetmap.fr/en/map/2015-nepal-earthquake_37675#9/27.8706/85.4187

[2015-04-26 11:12] mikelmaron commented on #6
We need to evaluate the exact gap in coverage in Bing and MapBox, and submit a request. Processing can start asap

[2015-04-26 16:29] d3netxer commented on #6
I drew a purple polygon, what do you think of trying to get imagery over here first?
http://umap.openstreetmap.fr/en/map/2015-nepal-earthquake-contributions-via-the-task-m_37675#9/28.2681/84.6112

Also, it would be good to cover the imagery gap where There is No Bing or Mapbox Hi-res imagery, that red polygon, I'll have to double check to see if any good imagery can be gotten here.

[2015-04-26 16:52] smit1678 commented on #6
@d3netxer Cool, I just dropped in a potential image for the red section.

Going to break these priority areas out into separate tickets to track any processing.

[2015-04-26 16:54] smit1678 opened #7 "Nepal: Syabru Bensi Area"
From #6, Syabru Bensi area has low-res Bing and Mapbox. Area marked for improved imagery.

One image identified that covers some of the area:

![](https://api.monosnap.com/rpc/file/download?id=gZ6lpHVKkPQJXwT6tvwV6VY8PbdD9d)

[2015-04-26 17:03] smit1678 opened #8 "Nepal: Kathmandu valley area"
Kathmandu valley area identified as potential area for updated imagery.

Candidates tagged.

![](https://api.monosnap.com/rpc/file/download?id=6TG90ZLy1j9tyMn5Y2kYvPOKPi3Z1F)

ref #6

[2015-04-26 17:06] smit1678 opened #9 "Nepal: Gorkha area"
Gorkha area tagged as priority for updated imagery:

![](https://api.monosnap.com/rpc/file/download?id=qh5O5jfK4g0SieUeL3vyYOw3LVaIsm)

ref #6

[2015-04-26 17:26] camillacaros commented on #8
Two 2014 WV2 scenes covering the Kathmandu urban area were available for fast download from DG are now being processed. Will post progress asap.

![screen shot 2015-04-26 at 10 25 47 am](https://cloud.githubusercontent.com/assets/3768909/7338374/acea65a0-ebfe-11e4-918b-74c3fdf45b5a.png)

[2015-04-26 17:27] AndrewBuck commented on #6
I updated the missing imagery polygons on the umap.  It looks like they were drawn from the bing analyzer, which gets out of date as new bing imagery comes on line.  So some were covered with Bing already, and some actually have medium resolution imagery from mapbox (in black and white).  I made the ones where mapbox is available in teal, and the red one to the east is where we have no Bing or Map

[2015-04-26 17:31] smit1678 commented on #7
One WV1 scene being processed. Will update more.

![](https://api.monosnap.com/rpc/file/download?id=lvK5nVE9Ile5ExPlkhNfck2chk0TiW)

[2015-04-26 17:33] smit1678 commented on #7
Initial part of the scene [here](https://api.tiles.mapbox.com/v4/nate.dtdcmcxr/page.html?access_token=pk.eyJ1IjoibmF0ZSIsImEiOiItQjVUSm8wIn0.B_AesFQdWjmbfnMWPhV0eg#15/28.1641/85.3512). Had to downsample to 1m to be able to download.

[2015-04-26 18:12] smit1678 commented on #7
To confirm before anyone moves on further processing the entire image, @cgiovando are these still priority areas?

[2015-04-26 18:13] smit1678 commented on #9
Before anyone moves on processing, @cgiovando are these still priority areas?

[2015-04-26 18:20] smit1678 commented on #8
It was identified that some pre-existing imagery is still available via the [task#190](http://tasks.hotosm.org/project/190). We'll change focus to look at post-disaster imagery for this area instead of pre-disaster. @camillacaros update here when you have a chance to look at post-disaster imagery.

[2015-04-26 18:52] cgiovando commented on #9
It looks like this is good to go, starting from the south near Gorkha, going up. I'm going to start a new layer in uMap with the areas.

[2015-04-26 20:35] cgiovando commented on #7
This area is confirmed as well and extended. See polygon here, from north of KTM:

http://umap.openstreetmap.fr/en/map/hot-imagery-coordination_37804#11/28.0180/85.3751

@smit1678 is that scene going into the main Mapbox layer or do we need a specific TMS?

[2015-04-26 22:03] d3netxer commented on #8
FYI the imagery date for http://tasks.hotosm.org/project/190#task/166 is 30 Oct 2012 and it is WorldView 2. Are you guys proceeding with the two 2014 WV2 scenes? It is probably worth it to have newer pre-disaster imagery. btw, how are you planning on using post-disaster imagery?

[2015-04-26 22:33] d3netxer commented on #9
We are moving ahead in processing imagery for the Gorkha area. The imagery from April 2015 has clouds in the northern section, so we are also looking at imagery from 25 Nov 2013 to cover some of the northern portion.

[2015-04-26 22:39] cgiovando commented on #9
Great! Will you be able to add directly to the main Mapbox TMS layer?

[2015-04-27 00:13] cgiovando opened #10 "Nepal: Planet's pre-event composite mosaic"
Planet Labs has generously provided access to the their Nepal archive to use in OSM. They will also provide fresh imagery as soon as clouds clear up.

I started looking at samples from their archive and trying to understand what we can extract in terms of OSM mapping. Please add your comments below. I also would like to understand the quality of co-registration, so that we can advise in case of sh

[2015-04-27 00:17] cgiovando commented on #10
For reference, here's their archive coverage in the Nepal area

![screen shot 2015-04-26 at 17 15 49](https://cloud.githubusercontent.com/assets/10201533/7340014/ffc913be-ec37-11e4-85d4-b95cc6b6224a.png)

[2015-04-27 00:47] cgiovando opened #11 "Nepal: area SE of Gorkha"
See screenshot below, bright blues polygon over lighter red where there's only Bing low-res

![screen shot 2015-04-26 at 17 45 36](https://cloud.githubusercontent.com/assets/10201533/7340183/4aa418b2-ec3c-11e4-89ea-25afd47dc809.png)

[2015-04-27 14:11] smit1678 commented on #7
@cgiovando Excellent, thanks for the update. We'll do a separate layer, it won't be in the Mapbox Satellite layer.

#### To update on processing:

WV1 image online [here](https://api.tiles.mapbox.com/v4/nate.5jbdquxr/page.html?access_token=pk.eyJ1IjoibmF0ZSIsImEiOiItQjVUSm8wIn0.B_AesFQdWjmbfnMWPhV0eg#12/28.0908/85.4544). It's not full resolution (1m) plus is WV1 so only panchromatic, but will be u

[2015-04-27 20:09] smit1678 commented on #9
@d3netxer Are you still moving ahead with processing this area?

[2015-04-27 20:11] d3netxer commented on #9
yes, we just finished. I asked, we can't add it to the Mapbox TMS layer. Here is the TMS:

http://hiu-maps.net/hot/1.0.0/gorkha-apr2015-flipped/{zoom}/{x}/{y}.png

I will send additional details and an updated area of the img extent that is covered on the image coord listserv

[2015-04-27 20:22] smit1678 commented on #9
@d3netxer Nice :+1:, yeah didn't expect to add to Mapbox. Best kept in a separate layer anyways.

[2015-04-27 20:43] smit1678 commented on #6
I've created a YAUM (yet another umap map) to organize figuring out priorities on the new release of DG imagery: http://umap.openstreetmap.fr/en/map/hot-nepal-imagery-coord_37964#9/28.0211/85.3802. Made an initial list of images in the wiki: https://github.com/hotosm/imagery-requests/wiki/Nepal-Earthquake-2015---Imagery-List.

Next steps is to identify priority areas based on map resolution gaps.

[2015-04-27 20:48] smit1678 commented on #6
Based on @cgiovando's work [here](http://umap.openstreetmap.fr/en/map/hot-imagery-coordination_37804#9/27.9338/85.6384), I think there are two candidates for priority:
- 347f956c8265c7e9187651b0b131c240 | 2/21/15 5:14  | WV02   | 0.070997   | 103001003E1DCD00
- bf1992be159b8501d93f71b2d7fc3506 | 2/13/13 5:20  | WV02   | 0          | 103001001FBDE200

Has anyone processed these already?

cc @d3netx

[2015-04-27 20:54] mikelmaron commented on #6
No prob on other uMaps ... but please update osm wiki link(s) if you get a chance. 

[code]

 Based on @cgiovando's work here, I think there are two candidates for priority:
- 347f956c8265c7e9187651b0b131c240 | 2/21/15 5:14 | WV02 | 0.070997 | 103001003E1DCD00
- bf1992be159b8501d93f71b2d7fc3506 | 2/13/13 5:20 | WV02 | 0 | 103001001FBDE200
  Has anyone processed these already? cc @d3netxer @mikelma

[2015-04-27 21:55] d3netxer commented on #6
We haven't processed those two (or any other ones yet)
What is 347f956c8265c7e9187651b0b131c240 | 2/21/15 5:14 | WV02 | 0.070997 | 103001003E1DCD00 supposed to cover? The thin area the @cgiovando specified as having low-res Bing coverage seems to be to the West of that strip

[2015-04-27 22:01] d3netxer commented on #6
wow, some good WV3 shots came in today covering Kathmandu

[2015-04-27 22:16] camillacaros commented on #8
@d3netxer we are not proceeding with teh 2014 images, an image captured Sunday (pretty cloudy) by DG is up and available per https://www.mapbox.com/blog/nepal-earthquake-imagery/  and now has improved color from what is seen in blog post.

### next

we have acquired 3 scenes captured earlier today from DG, which are less cloud/hazy than yesterday's imagery. processing these now for upload. [covera

[2015-04-27 22:22] smit1678 commented on #6
If everyone agrees these are good initial priorities, we can split these out into tickets. @d3netxer - you and I can then split trying to get these downloaded.

@d3netxer Yeah trying to capture this area, but only capturing part of the entire area:

![hot imagery coordination - umap 2015-04-27 18-15-08](https://cloud.githubusercontent.com/assets/796838/7359163/64268388-ed09-11e4-9c6a-af925a946ce3.

[2015-04-27 22:41] camillacaros commented on #8
Umap updated -- green region covering Kathmandu and a little ways east is what we are processing right now http://umap.openstreetmap.fr/en/map/hot-nepal-imagery-coord_37964#10/27.6081/85.2484

[2015-04-27 23:12] d3netxer commented on #6
We could cover part of the Borang area with this:

2015-02-10 14:50:08 UTC
    103001003D381400

https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=103001003D381400

[2015-04-27 23:23] smit1678 opened #12 "Identifying additional areas for gap filling"
One method for understanding gaps may be to look at comments from the Tasking Manager.

![](https://api.monosnap.com/rpc/file/download?id=zdBZ9jNnxEMuoZXZuyzJM3jeBQkwDO)

Right now we have gaps based on quick analysis of differences between Bing and Mapbox.

@lxbarth -- did you have some ideas here? Can we extract tiles that have these comments?

[2015-04-27 23:26] d3netxer commented on #8
Today's WV3 shots are great;

We need to be aware what we could be possibly duplicating with what the Pleiades imagery is showing for http://tasks.hotosm.org/project/1008

It is good your extent covers more area, especially to the east of what the Plaiades image is covering.

It also might be a good idea to follow-up with a WV3 shot 2-3 days from now, to capture how camps/temp structures are chang

[2015-04-27 23:27] smit1678 commented on #1
Closing this out. This is old now.

[2015-04-27 23:27] #1 closed, assigned to nobody

[2015-04-27 23:27] d3netxer commented on #11
should we wait for a good post-disaster imagery now, and say the Mapbox panchromatic imagery in this area was sufficient to collect roads pre-disaster?

[2015-04-27 23:31] camillacaros commented on #8
@d3netxer yeah, we will have our eyes on new imagery coming in all week. unfortunately, the weather doesn't look great until ~Friday, but we'll see.  Thanks for the heads up on Pleiades imagery. wv3 images are off and running in processing now, so layer will be up soon either way at this point.

[2015-04-28 00:26] mikelmaron commented on #12
we could add to the tasking manager api to grab comments. someone would need to dive into https://github.com/hotosm/osm-tasking-manager2. I don't have time, but can help guide, I've been expanding the API as I can.

[2015-04-28 02:38] camillacaros commented on #8
Imagery render of WV3 strips captured by DG earlier today looks finished -- mapid:  `mapbox.satellite-kathmandu-20150425-after` . will upate umap with tms url as well.

[2015-04-28 02:55] smit1678 commented on #8
Nice work @camillacaros. Just to document, these are WV3 27 April 2015 images.

Putting tms link here as well:

https://{switch:a,b,c,d}.tiles.mapbox.com/v4/mapbox.satellite-kathmandu-20150425-after/10//.jpg?access_token=pk.eyJ1Ijoib3BlbnN0cmVldG1hcCIsImEiOiJhNVlHd29ZIn0.ti6wATGDWOmCnCYen-Ip7Q

[2015-04-28 03:12] maning commented on #8
The url above doesn't work for JOSM.

[2015-04-28 03:47] d3netxer commented on #6
![screen shot 2015-04-27 at 11 45 42 pm](https://cloud.githubusercontent.com/assets/2665840/7362499/bfd5998e-ed37-11e4-8759-579daf226715.png)

well, I guess it covers at least part of the area you are pointing to. Do you want us to proceed with this scene?

[2015-04-28 14:33] pierzen commented on #10
First look,very interesting.
What is the image resolution?

[2015-04-28 14:49] cgiovando commented on #10
First guess I would say it varies between 3 and 4 meters. Here's some post event samples:

https://github.com/hotosm/imagery-requests/tree/master/Nepal/Imagery/Planet%20Labs/201504_POST

[2015-04-28 20:29] d3netxer commented on #6
processing on borang area is progressing at good pace, aiming to finish today.

[2015-04-29 02:13] maning commented on #11
Used in http://tasks.hotosm.org/project/1009

[2015-04-29 02:18] maning commented on #9
Used in http://tasks.hotosm.org/project/1009

[2015-04-29 02:34] maning commented on #8
Banepa section is used here: http://tasks.hotosm.org/project/1010

[2015-04-29 04:51] cgiovando commented on #10
Here's the TMS endpoint for Planet's Nepal mosaic, mostly pre-event scenes:

https://tiles{0-3}.planet.com/v0/mosaics/<mosaic_name>/{z}/{x}/{y}.png?api_key=

I will send API key to the activation coordinators to add the TMS to a new task. Signed license agreement is also [here](https://drive.google.com/file/d/0B9R6_KGwXUFBR3dRU2RwcVRocm8/view?usp=sharing), let me know if you see any problem with i

[2015-04-29 05:44] pjdufour commented on #6
See image coord list for info on Borang.

[2015-04-29 09:19] maning opened #14 "Nepal: Rasuwa Area"
Kathmandu Living Labs reported heavy damage in this area.
Approximate boundary of the area here: http://www.openstreetmap.org/relation/4583252#map=11/28.1646/85.3954&layers=H

[2015-04-29 13:56] smit1678 commented on #14
@maning We had covered some of this area in #7 with older pre-disaster imagery.

Post-diaster seems spotty in this area from DG. imagery dated April 29 isn't fully covering that area and still some clouds:

![](https://api.monosnap.com/rpc/file/download?id=X1sYCE6Nm1R2Xx50bc9iumoSAS0N8u)

![](https://api.monosnap.com/rpc/file/download?id=rLmpi8BeJtTdYAJvgrgDNLZbrAejkh)

[2015-04-29 14:01] smit1678 commented on #14
From skype chat, it seems that more north-east + Langtang national park are more priority areas. Or is the Betrawati area in the image above worth processing?

[2015-04-29 19:49] pierzen commented on #14
yes langtang is high priority. Road blockages, avalanche, rock slidings, many deaths, villages gone. But there might be others south too.

[2015-04-29 20:32] d3netxer commented on #8
It is a cloudy day today around Kathmandu, I don't see any clear shots. We are starting to process newer before-disaster imagery around Kathmandu (Mainly Mar 2015 and Nov 2014). It could come in handy for follow-up IDP mapping using before/after imagery

[2015-04-29 21:34] smit1678 commented on #14
@pierzen Do you have a AOI that is reasonably sized to focus on?

[2015-04-29 21:44] camillacaros commented on #8
Working on some more before & after imagery ... trying to see what is cloudfree and may be useful, will report soon

[2015-04-29 21:49] smit1678 opened #15 "Prioritizing post-event imagery needs"
Closing out #6 in preference of a new post-event priorities ticket. We have varying requests for imagery -- both in the skype chat, here in github and gitter. Right now we have more than imagery than the bandwidth that we all have so we'll want to prioritize. 69 WV1 scenes from today, another 3 from WV2, plus others.

WV1 from today (not exact footprints):
![](https://api.monosnap.com/rpc/file/dow

[2015-04-29 21:49] smit1678 commented on #6
Closing out in preference to #15

[2015-04-29 21:49] #6 closed, assigned to nobody

[2015-04-30 01:01] pierzen commented on #14
Would this help to see area to focus ?
these are emergencies reported
http://www.kathmandulivinglabs.org/earthquake/

[2015-04-30 11:33] mikelmaron commented on #14
we really need a defined AOI for post event tasking....

[2015-04-30 17:43] prabhasp commented on #15
All imagery that intersects with any areas in http://geojson.io/#id=gist:prabhasp/3a8207c3c8cd7de6ba7a&map=9/28.0853/85.5753 is great to have (Idea for that gist: red = priority 1 area, orange = priority 2 area, yellow = priority 3 area). From the looks of it, there is quite a bit of imagery here that intersects with priority 3 areas. Even though they are "priority 3", they are still amazing to ha

[2015-04-30 20:15] cgiovando commented on #15
Below is an updated landslide probability map from Michael Allchin at UNBC, combining three separate models. This can be taken into consideration for defining priority areas. Shapefile [here](https://github.com/hotosm/imagery-requests/blob/master/Nepal/Models/u_m_ls_depth_cntrs.zip)

![landslide probability mia-2](https://cloud.githubusercontent.com/assets/10201533/7421550/6de3dbcc-ef53-11e4-8520-

[2015-04-30 21:37] camillacaros commented on #15
hey @prabhasp the link you gave does not load shapes -- can you save as a gist and repost the link? thanks for the landslide analysis map @cgiovando -- can you speak a little to methods for producing the probability here?

[2015-04-30 22:54] cgiovando commented on #15
@camillacaros I'm going to ask Michael at UNBC who worked on this model in collaboration with WB to explain the method. Do we know of any other analysis of this type that we can compare with?

[2015-05-01 01:35] prabhasp commented on #15
@camillacaros Here it is: https://gist.github.com/prabhasp/3a8207c3c8cd7de6ba7a
Sorry the colors etc. don't come out the best; didn't realize github's rendering has orange as the background color.
Again, priority 1 = sindhupalchowk
priority 2 = rasuwa, kavrepalanchowk, dolakha, nuwakot
priority 3 = gorkha, dhading, ramechhap, south lalitpur.
nice to have = kathmandu, bhaktapur, north lalitpur (onl

[2015-05-01 15:40] smit1678 commented on #15
thanks @pradhasp. For the priority area 1, first quick search looks like there might be two potential images from April 27. @camillacaros thoughts on these catalogIDs?
- [104001000B539D00](https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=104001000B539D00)
- [103001004155C100](https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=103001004155C100)

[![](ht

[2015-05-01 19:16] camillacaros commented on #15
ah excellent, thanks for the priority areas @prabhasp, and thanks for looking into that @cgiovando. I don't have other sources for this type of analysis at the moment, but will ask around. @smit1678 i'm looking into those images now -- will post back soon re: processing

[2015-05-01 23:51] d3netxer commented on #15
Identified this today, it is on the services.digitalglobe.site

so I assume it is available for download?

https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=10504100129D7500

I don't think we will have much capacity to do processing this weekend

[2015-05-02 00:57] camillacaros commented on #15
good find @d3netxer -- i've been pulling imagery from their s3 buckets, much of which is raw, un-orthorectified, un-pansharpened data ... have been working orthorectification of the strips that @smit1678 mentions. I will look for the strip you posted as well ... once i have a process down for this, i'll be able to get through the raw data much faster.  its taken the day to pull together the proper

[2015-05-02 01:08] d3netxer commented on #15
that sounds rough @camillacaros. Good Luck. I can't figure out how to download imagery from https://services.digitalglobe.com. Maybe they had too much stress on their servers temp disabled downloads.

[2015-05-02 04:52] prabhasp commented on #15
The people of Nepal are thankful for your hard work @camillacaros @smit1678 @d3netxer

[2015-05-02 20:04] camillacaros commented on #15
ah yeah @d3netxer i was having a lot of trouble with the services.dg website as well.  they must be overloaded. @prabhasp its the least we can do & thank you so much for help on coordination / prioritization. if you see priority gaps in our coverage / what we are able to process please don't hesitate to ping ... new imagery is still coming in as weather allows.

[2015-05-02 20:19] pierzen commented on #15
Let's cross fingers. People isolated in remote areas for 8 days now. This picture shows the type of damages we should expect plus surely lanslides http://cdn.cctv-america.com/wp-content/uploads/2015/04/000_TS-Del6410804.jpg

[2015-05-04 04:57] cgiovando opened #16 "2015-05-03 Digital Globe Imagery (TMS Mosaic)"
There are 9 scenes from Digital Globe collected on May 3, 2015, all relatively low cloud cover. We need someone with direct access to source data in DG catalog to combine these into one single TMS endpoint.

See overview below. Index with CATALOG_ID available as [Shapefile](https://github.com/hotosm/imagery-requests/blob/master/Nepal/Imagery/Digital%20Globe/2015-05-03/DG_2015-05-03_ALL.zip) or [Ge

[2015-05-04 12:06] d3netxer commented on #16
update, as of the early morning on May 4, Google Crisis Map (https://google.org/crisismap/2015-nepal-earthquake) got updated with 7 new images shot on May 3. Dharapani, Kathmandu, Bhanu, South East Annapurna, and Dhawa cover some of the areas specified above.

Also on Google Crisis map are Langtang and Katung.

The long strips covering Sindupalchok are not seen yet.

[2015-05-05 12:54] d3netxer commented on #16
http://tasks.hotosm.org/project/1030 caught my attention yesterday. The tms:http://imagery.openstreetmap.fr/tms/1.0.0/nepal_digitalglobe_wms_proxy/{zoom}/{x}/{y}
actually has three of the long strips in Sindupalchok (the Western three).

[2015-05-05 18:48] camillacaros commented on #15
hi guys, i'm sorry for the delay here, i've got some pipeline backup that i'm working through. will update once moving again.

[2015-05-06 12:40] d3netxer commented on #16
I checked and all of these scenes should now all be covered by either the DG service (and recached TMS) or Google Crisis Map services

[2015-05-06 14:50] d3netxer commented on #14
can this issue be closed? I can't determine if this issue was covered by #7 or not

[2015-05-06 17:59] cgiovando opened #17 "2015-05-06 DG WV3 mosaic of southern Dolakha and Solukhumbu districts"
20 scenes (10 Pan + 10 MS) collected on 2015-05-06, high angle. Available on [HDDS](http://hddsexplorer.usgs.gov/data/list/disaster/201504_Earthquake_NPL/data/WORLDVIEW_NGA_PUBLIC)

![dg_2015-05-06_dolakhasolukhumbu](https://cloud.githubusercontent.com/assets/10201533/7499694/33916414-f3de-11e4-8b5e-494934fb713b.JPG)

**To Do**:
- [ ] Pansharpening, mosaicing and orthocorrection.
- [ ] Registratio

[2015-05-06 18:39] cgiovando opened #18 "2015-05-05 DG WV2 strip through Nawalparasi district"
Strip of 17 WV2 scenes (8 Pan + 9 MS) collected on 2015-05-05. Available on [HDDS](http://hddsexplorer.usgs.gov/data/list/disaster/201504_Earthquake_NPL/data/WORLDVIEW_NGA_PUBLIC)

![dg-wv2_2015-05-05_nawalparasi](https://cloud.githubusercontent.com/assets/10201533/7500714/42480fb6-f3e4-11e4-9882-9d9f6474a1a9.jpeg)

**To Do**:
- [ ] Pansharpening, mosaicing and orthocorrection.
- [ ] Registration

[2015-05-06 18:55] cgiovando opened #19 "2015-05-05 DG WV2 mosaic of Lamjung, Gorkha and Manang districts"
Mosaic of 68 WV2 scenes (35 Pan + 33 MS) collected on 2015-05-05. Available on [HDDS](http://hddsexplorer.usgs.gov/data/list/disaster/201504_Earthquake_NPL/data/WORLDVIEW_NGA_PUBLIC)

![dg-wv2_2015-05-05_lamjung](https://cloud.githubusercontent.com/assets/10201533/7501083/939b411a-f3e6-11e4-9e08-2e5c2f5d0832.jpeg)

**To Do**:
- [ ] Pansharpening, mosaicing and orthocorrection.
- [ ] Registration t

[2015-05-13 15:10] cgiovando opened #20 "2015-05-03 WV3 strips for Sindhupalchok and Kavrepalanchok districts"
There are three strips of Worldview 3 collected on May 3, 2015 which cover a large area of the affected districts of Sindhupalchok and Kavrepalanchok. Same strips are also referenced in #16, but because of the urgency, we are going to make it a separate request. This imagery would fill the gap in IDP camps mapping between tasks [1030](http://tasks.hotosm.org/project/1030) and [1046](http://tasks.h

[2015-05-13 15:35] d3netxer commented on #20
My understanding is that for right now, these three strips are available on the re-caching DG service, but they are being requested in case new overlapping images obscure these three.

Yesterday, I believe two different people were looking into it they could provide these three strips (Google & GeoCenter). I do not know what their status is right now.

Since it seems this request is urgent and has

[2015-05-13 15:45] cgiovando commented on #20
The OSM-fr proxy cache is a mix of multiple days collects, not ideal for mapping the situation at certain point in time. The tiles levels are also not consistent (e.g. you may see something at Z=15 and then something different at Z=16).

Google (@jlivni) confirmed that they don't have these strips. Not sure about GeoCenter, do you have a contact there to confirm? Have pinged @kevinbullock but wait

[2015-05-13 16:19] d3netxer commented on #20
Chad@USAID is from GeoCenter. I should see him later today and I'll ask him. Thanks

[2015-05-13 17:32] kevinbullock commented on #20
These images are available through DigitalGlobe's WMS service (access details below). I did make this request to our team providing imagery through S3 as well. They placed the order yesterday, but I do not have a status update. Perhaps check our S3. The images we are providing are orthorectified and pan-sharpened, but are not mosaicked together.

http://services.digitalglobe.com
Username: nepal
Pa

[2015-05-13 18:05] cgiovando commented on #20
Thanks @kevinbullock . The problem with the WMS is that it returns a mix of different collects all overlapped to each other. The most recent imagery is more cloudy than May 3rd's, so unless there's TIME support in the WMS service, it's going to be hard to use it.

Anyway, I let @d3netxer take the lead in direct requests to DG since HIU already has an established agreement. Thanks for all your supp

[2015-05-13 18:12] kevinbullock commented on #20
@cgiovando got it, thanks. Time is indeed a variable that can be filtered through a CQL query in WMS. (http://docs.geoserver.org/stable/en/user/tutorials/cql/cql_tutorial.html) . Additionally, a specific feature (image) can be requested via WCS request. The featureID is in the image metadata. (http://docs.geoserver.org/latest/en/user/services/wcs/reference.html).

More than happy to coordinate wit

[2015-05-13 20:17] cgiovando commented on #20
Thanks @kevinbullock, trying to pull out the correct URL for a filtered 2015-05-03 example, but not getting anything with https://services.digitalglobe.com/mapservice/wmsaccess?connectid=71ae32ec-f6df-4ed7-b707-2aa016610679&CQL_FILTER=TIME%20=%20'2015-05-03'

I also tried the more standard WMS TIME parameter, but it doesn't seem to make a difference:https://services.digitalglobe.com/mapservice/wms

[2015-05-13 22:56] EdHankin commented on #20
Hi @cgiovando, Please see https://www.digitalglobe.com/connectonline for our OGC dev guides. These should be helpful for CQL and other common formatting questions. Please note that the URLs you posted are missing some required parameters, again these are specified in the dev guides.

This is how i would suggest filtering for date and source to bring these images to the top:

&COVERAGE_CQL_FILTER=(

[2016-04-20 04:51] maning opened #21 "Post-EQ DG imagery available for Ecuador"
Stub ticket to coordinate preparation of TMS for post-EQ imagery.
Download resources: http://www.digitalglobeblog.com/2016/04/19/open-imagery-and-data-to-support-ecuador-earthquake-response/

[2016-04-20 12:48] smit1678 commented on #21
Thanks @maning.

To capture what's been on the list and summarize a few things to update:
- Umap with pre-disaster imagery footprints + HOT tasks is here: http://umap.openstreetmap.fr/en/map/2016-ecuador-earthquake_81488
- I've posted footprints of available post-disaster imagery from DG in the umap
- I'm looking into making the imagery available in OAM (imagery is not-pansharpened at the moment)

[2016-04-20 12:55] hyances commented on #21
OK.  Please send me TMS URL when is ready.  I've not seen coberture polygons in Umap, do you have a link with geojson?

[2016-04-20 13:59] pratikyadav commented on #21
https://gist.github.com/pratikyadav/5aa734027fc48539850ec8e9ec26bdcb
Some observation based on 👀  the DG imagery.

cc @smit1678

[2016-04-20 17:01] smit1678 commented on #21
@pratikyadav 👍 this is a great recap.

To update on where we're at (chat here https://gitter.im/hotosm/OpenAerialMap):
- @nbumbarger has been doing some pansharpening of the priority area 1
- @lossyrob has been working on a TMS

Should have a progress update on next steps here shortly.

[2016-04-20 17:01] lossyrob commented on #21
Currently working through some rendering issues, should have a TMS of the following images pretty soon (without pan sharpening). The biggest issue I'm having is getting decent coloring out of the images, so if someone has a good way of color correcting these UInt16 images let me know!

[code]

[2016-04-20 17:31] lossyrob commented on #21
This is what I've gotten so far:

http://oam-tiles.s3.amazonaws.com/ecuador-earthquake-nopan-2/{z}/{x}/{y}.png

Static PNG tiles from zoom 17 up.

You can see what I mean about the coloring issue. I'm simply rescaling the UInt16 images to Bytes, and clearly that's not a proper color correction. Also there's some resampling artifacts that I can get rid of. I'm going to continue to work on improving

[2016-04-20 18:22] hyances commented on #21
OK, here **priority** for post-event mapping projects:
- highways between populated places (only)
- identify broken roads and bridges.

So I think we can open TM project with a wide area, because instructions are very simple and fast to map.  We can focus on priority area #1.  Any volunteer to create first project (in draft) with this?

Please, let me check before launching,

Thanks,

Humberto

[2016-04-20 18:59] hyances commented on #21
OK, seems main imagery is not load yet ![](https://dl.dropboxusercontent.com/u/1720266/indice.jpeg)

[2016-04-20 21:27] smit1678 commented on #21
@hyances Yeah, I wouldn't use this imagery yet. Still need to get the colors and artifacts fixed before putting this out to be used.

[2016-04-20 23:32] TylerRadford opened #22 "Planet Labs pre-and post event imagery for Ecuador Earthquake"
We're currently uploading Planet Imagery from 4/16, 4/18, 4/19 and 4/20 to the USGS FTP site. The first 2 days are done, and the second 2 are currently uploading. In the meantime, here are links to Planet's RapidEye data from 4/18:

ftp://delivery.rapideye.com/dl1/RE-QGKeao1iuP2hZgYW-100778DRCT_CC564_EC/
or

https://delivery.rapideye.com/dl1/RE-QGKeao1iuP2hZgYW-100778DRCT_CC564_EC/

[2016-04-20 23:32] TylerRadford commented on #22
Patrick Meier confirmed on behalf of Planet Labs that tracing into OSM is allowable.

[2016-04-21 01:00] lossyrob commented on #21
This is the Priority 1 imagery, pan sharpened and color corrected by others, tiled through the OAM tiler.

http://oam-tiles.s3.amazonaws.com/ecuador-earthquake-priority-1/{z}/{x}/{y}.png

The remaining issues are:
- There is some strange coloring in various places, seems to happen around clouds. I can't find where this would be caused by the tiler; potentially this is the color correction, but of

[2016-04-22 14:28] mikelmaron commented on #22
Questions @TylerRadford
- Why are we uploading to USGS? Or is that Planet uploading to USGS?
- Has anyone checked how usable the imagery is for mapping in OSM?
- Is anyone processing this for change detection? This might be more useful as a signal for where to map, using higher resolution imagery.

[2016-04-22 16:16] lossyrob commented on #21
The two Priority 1 area images

http://beta.openaerialmap.org/#/-80.52978515625,-1.0762535361398837,11/2100011032111/571975932b67227a79b4faf4
http://beta.openaerialmap.org/#/-80.61767578124999,-0.9444381245910761,11/2100011030303/571975932b67227a79b4faf5

both shown in the TMS endpoint

http://oam-tiles.s3.amazonaws.com/ecuador-earthquake-priority-1.2/{z}/{x}/{y}.png

are available in OAM.

[2016-04-24 18:28] TylerRadford commented on #22
Planet uploaded to USGS
Humberto assigned within Telegram group - as suspected, not suitable for
tracing
And yes - could be useful for change detection, Cristiano assessing

_Tyler Radford_
Executive Director
tyler.radford@hotosm.org
@TylerSRadford

_Humanitarian OpenStreetMap Team_
_Using OpenStreetMap for Humanitarian Response & Economic Development_
web http://hotosm.org/ | twitter https://twit

[2016-07-13 13:10] smit1678 opened #24 "DRC Imagery Request: Updated imagery for refugee camps for UNHCR"
Request via imagery-coord mailing list from Claire Halleux.
- **Description:**

- **Wiki link:** na
- **Request extent**: Three AOIs (Boyabo, Bili, Lusenda): https://gist.github.com/smit1678/1771a4ce7c7948d8eddaf16ec74d8dc4
  - ![fireshot capture 024 - drc imagery request - july 2016_ - https___gist github com_smit1678_1](https://cloud.githubusercontent.com/assets/796838/16804322/18768bfc-4903-11e

[2016-07-13 20:36] bensonwilder commented on #24
State Department MapGive is conferring with Population, Refugees, and Migration Bureau and plans to support.

[2016-07-14 13:36] d3netxer commented on #24
scoped out:
- Billi : 20160126_billi_WV3 1040010017431F00
- boyabo: boyabo_21feb16_WV3   1040010017A77B00
- lusenda_26jun16_WV2   1030010056C5CB00

loading to library...

[2016-07-29 15:25] d3netxer commented on #24
IttC service completed. Will e-mail out TMS links

[2016-09-26 18:39] smit1678 opened #25 "Develop process workflow document"
From the imagery coordination coordination BOF at sotm this past weekend, @pratikyadav @cgiovando and I are going to take a first pass at the following:

Develop a task flow analysis for the imagery request and processing pipeline. Walk through the key steps of the imagery request and processing pipeline to understand what are the technical and non-technical decisions and tasks that are conducted

[2016-10-20 18:31] humanitariandata opened #26 "Hurricane Matthew - for impact assessment"
http://hirc.dev.hotosm.org/requests/29/

[2016-10-20 20:55] smit1678 commented on #26
@humanitariandata Received. I took a quick look at the imagery available in OAM and through the Matthew response: https://wiki.openstreetmap.org/wiki/2016_Hurricane_Matthew, and it looks like they all have clouds.

We'll need to look at other archive imagery that is available without clouds.

[2016-10-27 13:20] smit1678 opened #27 "Develop user stories and lessons learned doc"
Craft a short user stories and lessons learned doc that outlines key problems and goals to solve for an imagery request app. Needs to factor in lessons learned from previous tool: http://hirc.dev.hotosm.org/.

[2016-10-27 13:32] smit1678 opened #28 "Developing imagery request app within this repo"
Proposing to extend the use of this repo to build out an imagery request tool. Before we jfdi, I want to quickly tag watchers of this repo and others who have been involved in imagery request work @pratikyadav @mikelmaron @bgirardot @cgiovando @d3netxer @jacques @camillacaros @lossyrob @maning @kevinbullock @olafveerman @danielfdsilva @mojodna.

This is related to https://github.com/hotosm/OpenAer

[2016-10-27 15:54] smit1678 commented on #25
@pratikyadav @cgiovando I started a document here: https://docs.google.com/document/d/1Alj_N4UvafcqxHLObBD5-EZhk2t7xDvpzshnPhjxPMU/edit?usp=sharing. I'm starting with our current workflow from https://wiki.openstreetmap.org/wiki/HOT_activation#Imagery_Coordination for an overview and then marked out a general process pipeline.

cc @olafveerman @danielfdsilva @ascalamogna

[2016-10-27 16:09] smit1678 commented on #25
To clarify next actions:
- [ ] need to review overarching steps. add/subtract/edit as necessary.
- [ ] provide details and subtasks for each step

[2016-10-28 11:11] smit1678 commented on #27
Started capturing here: https://github.com/hotosm/imagery-requests/wiki/Imagery-Request-app-v1-User-Story-document

[2016-10-28 11:19] smit1678 opened #29 "Develop sitemap"
via @ascalamogna to begin functionalities, pages, and app flow -- First version of the imagery request app sitemap.

![oam-coordination-app-sitemap](https://cloud.githubusercontent.com/assets/796838/19804669/b077be64-9d07-11e6-9a37-30854ba91f06.jpg)

Next actions, need to answer:
- Does this meet the goals of the app?
- Is any content or functionality missing?

Also need to answer:
- Who are the m

[2016-10-28 22:25] d3netxer commented on #28
This is a good idea, we would like to provide input. I think I'll start by adding notes to the Imagery Requests Task Flow doc you guys started (referenced in #25 ) https://docs.google.com/document/d/1Alj_N4UvafcqxHLObBD5-EZhk2t7xDvpzshnPhjxPMU/edit

[2016-10-31 10:05] smit1678 commented on #28
@d3netxer Thanks, really helpful. I just dropped in a few follow up questions to clarify some details.

[2016-10-31 11:39] smit1678 commented on #29
@ascalamogna I started a shared google doc with the questions to start to fill in: https://docs.google.com/document/d/1DxFwmsjCtXttYebtc4uVdZb28m7DMvX7YbkdV7R18hI/edit?usp=sharing.

cc @cgiovando

[2016-11-03 12:15] smit1678 opened #30 "Metadata requirements for each request"
First take at metadata for each request. This would include both information needed up front for a request as well as the status updates. @cgiovando @danielfdsilva Suggestions for other items to be included here?

element | type | description
--- | --- | ---
uuid | string | Unique identifier generated by application
project | string | Event name or Tasking Manager project ID
time_period_requested

[2016-11-04 16:55] ascalamogna commented on #29
@smit1678 @cgiovando

Here's an updated sitemap based on the discussion we had this week. Let me know if you have any questions.

![coordination-app-sitemap_v2](https://cloud.githubusercontent.com/assets/6752098/20014557/65b7597c-a2af-11e6-8d31-2cdb0595302d.png)

cc @olafveerman @danielfdsilva

[2016-11-04 17:04] ascalamogna opened #31 "Coodination App User Flows"
@smit1678 @cgiovando

Below are user flows for creating a task and editing a task. We felt these were the two most important features in the app. Both assume a request as already been created. Let me know if you'd like to go over these together or if you have any questions.

![user flows](https://cloud.githubusercontent.com/assets/6752098/20014816/93bda5d2-a2b0-11e6-8c83-813b9d22a1d3.png)

cc @ola

[2016-11-05 15:22] cgiovando commented on #31
I think this captures the core workflow well. The only thing we may want to
consider is how the decision on determining the task happens.

If we are looking at satellite imagery, before creating the task the user
would need to assess what existing imagery may be already available to
fulfill that imagery request AOI.

On Nov 4, 2016 13:04, "Anna" notifications@github.com wrote:

[2016-11-05 18:24] cgiovando commented on #30
I would add:
- requesting organization
- desired / required GSD
- compression (if any)
- product type (RGB, NIR, etc)
- min acceptable accuracy
- required license
- max cloud cover
- preferred provider
- preferred platform/sensor
- linked tasks
- notes

Some of these could be made optional avoid overcomplicating the request
process.

On Nov 3, 2016 06:15, "Nate Smith" notifications@github.com wrot

[2016-11-09 14:03] smit1678 commented on #30
@cgiovando Thanks, good catch on these. Thinking perhaps we start minimal so we'd prioritize for task generation and management these three:
- requesting organization
- desired / required GSD
- product type (RGB, NIR, etc)

The others could be optional and then considered in the future for feature additions for any UI elements:
- compression (if any)
- min acceptable accuracy
- required license
-

[2016-11-11 16:59] danielfdsilva opened #32 "Tech stack"
This is the tech stack we propose to use for the imagery request App:

**Backend** (node js)
- [Hapi](http://hapijs.com/) routing and api core
- [Auth0](https://auth0.com/) third party service to manage authentication and users
- PostgresSQL database

**Frontend**
- [React](https://facebook.github.io/react/) + [Redux](http://redux.js.org/) as fronted framework.
- [Mapbox gl](https://www.mapbox.com

[2016-11-11 17:18] smit1678 commented on #32
Is it possible to leverage their [custom OAuth integrations](https://auth0.com/docs/connections/social/oauth2) so we can add [OSM OAuth](https://wiki.openstreetmap.org/wiki/OAuth) as a method?

[2016-11-11 18:29] kamicut commented on #32
@smit1678 It's possible, I've seen it [here](http://stevecoast.com/2016/05/12/connecting-wordpress-to-openstreetmap-with-auth0/)

[2016-11-11 19:32] sethfitz commented on #32
How well does this work with raster layers, e.g. to display existing imagery from a tiled endpoint?

Other components already use MongoDB (right?). Why something new / different?

Do you envision using RDS, Heroku Postgres, or running a database server on the same instance as the app? Can the app be deployed in a shared environment (or using Lambda, per https://aws.amazon.com/blogs/aws/running-exp

[2016-11-14 10:07] danielfdsilva commented on #32
@mojodna Mapbox gl handles raster tiles pretty well. ([example](https://www.mapbox.com/mapbox-gl-js/example/map-tiles/)).
You're right regarding the DB, and I'd say we can continue with MongoDB.

We haven't discussed deployment yet, but it could be deployed in a shared environment as long as it runs node and the db is present.

[2016-11-15 12:06] smit1678 commented on #30
Splitting this into request and task metadata (I think this should capture both how we're structuring request as well as keeping the metadata simple):

## Request

| element | type | description |
| --- | --- | --- |
| uuid | string | Unique identifier generated by application |
| project | string | Event name or Tasking Manager project ID |
| time_period_requested | string | Date range requested

[2016-11-15 16:42] danielfdsilva opened #33 "Content types metadata"
Posting here the result of my conversation with @smit1678 regarding the content types metadata.

## Requests
element | description
--- |  ---
uuid                    |  Unique identifier generated by application
authorId                |  User that created the request
project                 |  Event name or Tasking Manager project ID
progress                |  Percentage complete (automatically c

[2016-11-15 16:43] danielfdsilva commented on #33
cc @olafveerman @mojodna

[2016-11-15 16:43] danielfdsilva commented on #30
Closing in favor of #33

[2016-11-15 16:43] #30 closed, assigned to nobody

[2016-11-17 16:35] danielfdsilva opened #34 "Imagery Request App - initial commit"
The initial commit of the app was made to the [develop](https://github.com/hotosm/imagery-requests/tree/develop) branch. This branch was created as an orphan as has nothing to do with master.

It focused on:
- Scaffolding the app
- Draft implementation of login system (needed to test user tokens for the api work)

Immediate next steps:
- Correctly implement login system (redux actions)
- Show user

[2016-11-17 16:36] danielfdsilva commented on #34
cc @nbumbarger

[2016-11-18 19:45] ascalamogna opened #35 "Imagery Request App Wireframes"
@cgiovando @smit1678

Attached are the wireframes for your feedback. Please let us know if anything is missing or if this doesn’t reflect anything we talked about.

The homepage focuses on a dashboard for all requests while the user profile pages focus on the tasks specifically created and assigned by that user. You’ll also see the task and request creation forms which will also be used when editi

[2016-11-18 20:02] ascalamogna commented on #35
Correct version of pdf: [wireframes_v1.pdf](https://github.com/hotosm/imagery-requests/files/600820/wireframes_v1.pdf)

[2016-11-18 20:53] smit1678 commented on #35
Liking the flow and feel thus far. Nice work Anna. 
Couple quick comments: 

* For the request creation view, I expect it'll be just similar to the Task creation, but one of the key user stories was to enable a planner to evaluate existing imagery first before a request is made. Ideas on how we can do that? Ideally we don't make it overly complex but push a user to evaluate first. My thinking is t

[2016-11-21 17:39] smit1678 commented on #35
I put this into Invision to have another look at the flow and feel: https://invis.io/DR9FC80JB#/206976256_Wireframes_V1-pdf_1.

[2016-11-22 13:53] danielfdsilva commented on #35
@smit1678 what's your idea in relation to evaluate existing imagery? Isn't the user going to check on other platforms (like oam) for the imagery?

[2016-11-22 14:06] smit1678 commented on #35
One of the biggest challenges we identified and discussed at SOTM and in Fiji was the need to have a way to bring together a number of map layers -- Bing, Mapbox, DG, OAM -- to be able understand if they will suffice or if a new request needs to be made. Criteria for determining if they will suffice is resolution, cloud cover, availability, age. Pushing them to other platforms doesn't solve the go

[2016-11-29 06:21] pratikyadav commented on #25
👋  @smit1678
Sorry for jumping in late here.

I am adding a gist here to give a bit of perspective on how we process imagery request at Mapbox.
Hopefull this can help us all to build a tight and effective workflow.

https://gist.github.com/pratikyadav/d3dd2f4f85da975e6114db83342c5f1f

[2016-12-19 18:27] danielfdsilva opened #54 "Dashboard map not updating according to feature change"
When a filter is selected and the tasks change, the map should show the new features.

[2016-12-19 18:28] danielfdsilva opened #55 "Show markers on low zoom levels"
On low zoom levels is not possible to show the polygons given their size. We should show markers on the centroid instead.

[2016-12-20 22:52] nbumbarger commented on #55
Fixed in https://github.com/hotosm/imagery-requests/pull/57

[2016-12-20 22:52] nbumbarger commented on #54
Fixed in https://github.com/hotosm/imagery-requests/pull/57

[2016-12-22 21:20] #55 closed, assigned to nbumbarger

[2016-12-22 21:21] #54 closed, assigned to nbumbarger

[2017-01-09 11:30] danielfdsilva opened #60 "Task status"
Currently the tasks can have one of the following statuses:
- Open
- In progress
- Completed

@smit1678 could you provide the list of statuses to use?

[2017-01-09 11:34] danielfdsilva opened #61 ""Add Request Form" help texts"
Add help text

Is adding an help text enough or does it need something else?

What are the options we should be using?

[2017-01-09 17:54] danielfdsilva opened #62 "Add Digital Globe Base map"
We need a DG account to be able to use the maps.
@smit1678 is there an account you can share with me?

[2017-01-09 17:55] danielfdsilva opened #63 "Add bing base map"
@nbumbarger could you share your research on using bing maps with mapbox?

[2017-01-10 09:02] smit1678 commented on #62
@danielfdsilva Let's use this style: `mapbox://styles/digitalglobe/ciode6t5k0081aqm7k06dod4v` and this token: `pk.eyJ1IjoiZGlnaXRhbGdsb2JlIiwiYSI6ImNpdHZtM3FjbzAwNjYyem40c3FlNG11eGkifQ.dxTyi-e8nUFGtGQON78xQA`. This is a testing token for now and so we'll want to change this out once we're ready.

[2017-01-10 09:10] smit1678 commented on #63
Imagery API details should be here: https://msdn.microsoft.com/en-us/library/ff701721.aspx. You can use this token to test (under my account for now, we'll move to HOT's azure account when ready to go live): `AtkxF7FKErIxXHv8OUFVZhCT3iwdiPQIR1sY1dFD9IAJYB6fm6VehB4wQMdAOaIF `

[2017-01-10 16:23] danielfdsilva opened #65 "Improve information hierarchy and clarity"
Overarching issue to further discussion on improving information hierarchy and clarity.
We'll be listing smaller items to help achieve this.

[2017-01-10 16:24] danielfdsilva opened #66 "Improve image comparison (adding new requests)"
Overarching issue to further discussion on improving the image comparison workflow.
We'll be listing smaller items to help achieve this.

[2017-01-13 16:41] danielfdsilva commented on #65
After some discussion it was clear that the maps need to be improved. Adding interactivity and more details will help with the information clarity:

- Color code the markers according to the status
- On request pages show the different tasks on the map instead of the request bbox
- Show a tooltip when clicking a polygon with more information (basically what's on the cards)
- On task pages show the

[2017-01-13 17:04] smit1678 commented on #65
Let's add:

  - tooltip visible on load for most recently updated request on landing view
  - indicate task status within the polygon on request view

[2017-01-17 20:14] nbumbarger commented on #66
@smit1678 We put some time into researching intuitive image selection methods, and have settled on a thumbnail approach where the selected source is shown in detail while secondary possibilities are shown as minimaps.

![cd1e9184-dcc0-11e6-9c6d-dfb17e2215f1](https://cloud.githubusercontent.com/assets/9471488/22037850/f1f00ca8-dcc6-11e6-86ce-a5146a99875b.png)

This approach provides users with a qu

[2017-01-18 12:55] smit1678 commented on #66
@nbumbarger @danielfdsilva @ascalamogna Really nice work. I think the minimap with previews work well and agree with your assessment. I dig this a lot. It looks and feels great. Makes sense on the others.

![oam-explore](https://cloud.githubusercontent.com/assets/796838/22064230/890ec1e8-dd7a-11e6-9f32-4ec91339c138.gif)

Couple points we'll want to address but perhaps these things are already on y

[2017-01-19 10:57] danielfdsilva commented on #65
Most of this was implemented (https://github.com/hotosm/imagery-requests/pull/67). To be done is some final polish of the styles and status colors.

[2017-01-19 11:00] danielfdsilva commented on #66
Next steps on this:
- Cleanup code
- Add map indication
- Design polish

[2017-01-23 14:03] danielfdsilva commented on #66
Implemented in https://github.com/hotosm/imagery-requests/pull/67

[2017-01-23 14:07] #34 closed, assigned to nobody

[2017-01-24 11:36] smit1678 commented on #60
Changing these is lower priority at the moment. @cgiovando what do you think about these that try to capture both aerial surveying and imagery processing:

* Open
* Collection planned (In progress)
* Collection completed (In progress)
* Processing in progress
* Completed
* Canceled

[2017-01-24 11:37] smit1678 commented on #60
I'd almost recommend keeping these simple as we test this out and get feedback. But open to ideas.

[2017-01-24 12:10] smit1678 commented on #61
👍  Can you take the first stab at text here?

Yes, I think help text is good. Can you take the first stab at the text here?

Let's go with:
  * Satellite imagery
  * UAV or other aerial imagery

[2017-01-24 14:13] danielfdsilva commented on #61
gsd:
- Ground Sample Distance in meters.

purpose:
- The reason why these images are needed.

use:
- How/what these images are going to be used for.

I'm not really sure what was the intended difference between purpose and use, but this is how I see it.

@smit1678 good?

[2017-01-24 17:24] smit1678 commented on #61
@danielfdsilva Good for now. We can come back here and describe these a bit better.

Let's keep this open as a todo item to review as we look at all the text.

[2017-01-25 16:57] nbumbarger opened #69 "Add status colors legend"
Add a legend explaining the status colors on the map and request items (or just add legend to the about section).

<img width="645" alt="e7b36570-e174-11e6-9585-6ef142d338bd" src="https://cloud.githubusercontent.com/assets/9471488/22300446/7a36514c-e2f5-11e6-935e-0d0050cbf665.png">

[2017-01-25 16:59] nbumbarger opened #70 "Add zoom to full extent to map"
Add a "Full extent" option to the map's "Jump to" dropdown, so the map can easily be reset to show all requests after having zoomed in.

[2017-01-30 15:33] olafveerman opened #72 "Switch default base layer"
From satellite to Mapbox Light.

[2017-01-30 16:02] #62 closed, assigned to nobody

[2017-01-30 16:02] #63 closed, assigned to nobody

[2017-01-30 16:03] #66 closed, assigned to nobody

[2017-01-30 16:03] #60 closed, assigned to smit1678

[2017-01-30 16:04] #32 closed, assigned to nobody

[2017-01-30 23:15] olafveerman commented on #72
Addressed in: https://github.com/hotosm/imagery-requests/pull/71/commits/76a75fd83845ab28bb270e3087f926690154b11a

[2017-01-30 23:15] #72 closed, assigned to nobody

[2017-02-09 11:03] smit1678 opened #76 "Benin request: Imagery to support local OSM group"
From imagery-coord list and http://hirc.dev.hotosm.org/requests/30/ via Netherlands Red Cross:

* **Description:** We have been working with a group of local OSM mappers in our projects. They have asked me if I can help them out get better satellite imagery for a local mapping project in Benin. This is the area: http://bl.ocks.org/d/1eacc145e95a80ca6bfe9f91847f9290 They have been asked by the muni

[2017-02-09 11:05] smit1678 commented on #76
from @pratikyadav [in Slack](https://hotosm.slack.com/archives/imagery-coord/p1485187102000011), need some additional context on the purpose and goal of the local OSM group to map those features.

Maarten - can you add some text into Slack or here and we can then follow up with @pratikyadav?

[2017-02-10 07:27] mjvanderveen commented on #76
The local OSM community is working on developing a good base map for the whole of Benin. They work of Microsoft Bing imagery normally, unless there are areas for which the quality of the imagery is bad, such as this case. The OSM community is very volunteer and humanitarian driven, and they go out to map the country on their own costs. In some cases they work with local municipalities. In this par

[2017-02-13 10:54] #35 closed, assigned to nobody

[2017-02-13 10:54] smit1678 commented on #65
👍  Closing this out in preference for individual tickets going forward.

[2017-02-13 10:54] #65 closed, assigned to nobody

[2017-02-13 10:55] #29 closed, assigned to nobody

[2017-02-13 10:55] #33 closed, assigned to nobody

[2017-02-13 10:56] #27 closed, assigned to nobody

[2017-02-13 11:00] smit1678 opened #77 "Allow links in Notes section"
Github or other conversation threads will be used prior to a full request being made. When making a request, it will be helpful to be able to provide links to where previous conversations have happened or currently are happening.

In example, http://hotosm.github.io/imagery-requests/#/requests/58975665e3970100117a94e8, it would be helpful to enable links within the Notes section.

[2017-02-13 11:00] smit1678 opened #78 "Validation for GSD"
Add form validation for GSD. When typing something like `0.5m`, the form does not raise an error to the user that this is invalid.

[2017-02-13 11:06] smit1678 opened #79 "Feedback request is being generated"
Feedback on the Add Request page that a request is being processed is placed at the top of the form. If the request to the API takes a while, the indication that the API processing is hidden at the top of the form. This was confusing when nothing seemed to be happening.

Not an issue when the API and/or your connection is good and processed quickly.

[2017-02-13 11:09] smit1678 opened #80 "Add KML upload for tasks"
When generating a new task, it will be helpful to have KML as a file format option for uploading. Many flight planning tools export only in KML. Will increase ability to add precise and detailed AOIs for tasks by enabling this integration.

[2017-02-13 11:22] smit1678 opened #81 "Number alignment"
In several places, there alignment of numbers is slightly off. Seeing this both on Chrome and Firefox:

![](https://api.monosnap.com/rpc/file/download?id=1l6ZG4LOQv82jZTUg8XLtCfheExLLQ)

![](https://api.monosnap.com/rpc/file/download?id=8GahOcW4uCSCZNhsHd60Tyn6Krfy6V)

[2017-02-13 11:25] smit1678 commented on #81
Also seen on Dashboard page:

![](https://api.monosnap.com/rpc/file/download?id=dlQO1UKxbm3TX1pbCM25mTmPlVwrwU)

[2017-02-13 11:36] smit1678 opened #82 "Grey for closed washed out on light map"
Grey for closed is washed out and hidden on the map. Are there ways that we could improve this?

[2017-02-13 11:37] smit1678 opened #83 "Progress bar color"
We use green for completed tasks. Do we want to use that in the progress bar to better communicate progress towards a goal and connect the information to completed tasks instead of open tasks?

[2017-02-13 11:45] smit1678 opened #84 "Add request button placement"
The Add Request button feels slightly out of place by by forcing the map down once you login. @ascalamogna Can you give a quick rundown of your reasoning for this location? Would it match the Imagery Search section better by putting it in the upper right?

![](https://api.monosnap.com/rpc/file/download?id=wRVCT7iHnxt93yJPrjMj6usaQCVMNO)

[2017-02-13 11:53] smit1678 opened #85 "Add final text for imagery search"
Need to review and add final text for imagery search section.

@ascalamogna If we add a shorter, single line sentence here, does it make sense to keep the bullets? Or would you suggest no bullets if we only have one sentence?

![](https://api.monosnap.com/rpc/file/download?id=BGoEFxYa5YPde45sCoMFIJ5T4M8kIr)

[2017-02-13 11:58] smit1678 opened #86 "Allow markdown in progress sections"
For the Tasks update sections, it could be interesting to allow markdown to be written. This way you can communicate clearer with better formatting.

[2017-02-13 12:02] smit1678 opened #87 "Add map position parameters to imagery search url"
When searching for imagery on the imagery search, it would be helpful to be able to share the URL directly to enable looking at the same view. <strike>In addition, this would be in line with adding that map location directly to the Add Request form so you don't have to find your AOI again.</strike> (come back to this second point later)

Link to page: http://hotosm.github.io/imagery-requests/#/ima

[2017-02-13 12:05] smit1678 opened #88 "Improve indication that you can click to change maps"
On the imagery search page, look to improve the indication that you can click to change the maps. Right now there is no mouse indication or visual indication of the map selected.

[2017-02-13 12:09] smit1678 opened #89 "Zoom or focus on specific task AOI"
When task AOIs are very small and geographically distant, the map view defaults to a zoom and center that shows both at the same time. This doesn't work well for small AOIs: http://hotosm.github.io/imagery-requests/#/requests/58975cade3970100117a94f1/tasks/58975d00e3970100117a94f2.

Could be handled in a couple ways:

  * Set initial zoom and center of the map on the specific task AOI when loading

[2017-02-13 18:42] amckenna01 commented on #76
From the MapGive side we'll have a look at available scenes to support. Tom and I will get back to you.

[2017-02-13 19:07] pratikyadav commented on #76
@mjvanderveen Thanks for the information. 👍
2 quick follow-up questions-
1. Is there any HOT task for this in TM?
2. Would love to understand how Netherlands RC is involved

[2017-02-13 19:22] mjvanderveen commented on #76
@pratikyadav
1. we have not yet created a HOT task for this, since the available Bing Imagery is so bad, that we don't want to publish a task and get people working on it.
2. NLRC is not directly working in this area. Through this request we are trying to strengthen our in-country partner who is doing field mapping for us in other areas. As they have ascertained us that their mapping effort serves

[2017-02-13 19:36] d3netxer commented on #76
I did a quick assessment and have some follow-up:

- Masse area: The most recent color imagery I am seeing is too cloudy. There is a great panchromatic (black & white) shot that covers most of the area (WV1, DG-ID: 102001004B5D2500, 8 Feb 2016), and another panchromatic of less quality that can cover the remaining areas to the east ( WV1, DG-ID: 102001004913CF00, 1 Jan 2016). I recommend going wit

[2017-02-14 02:04] cgiovando opened #90 "Imagery Request: Afsay (Afghanistan Avalanches, Feb 2017)"
**Description:**
Heavy snowfall at the beginning of the month have caused several avalanches in NE Afghanistan, causing >100 casualties and destroying several villages. The full extent and impact of the disaster is still unknown, but there are reports from OCHA and other agencies from specific villages, mostly in the Nuristan province.

According to this report, 57 people died in Afsay (Barg-e-Mat

[2017-02-14 10:49] smit1678 opened #91 "Cannot read property 'activeTasks' on Dashboard page"
When logged in and viewing the Dashboard page, page is not fully loading and getting javascript errors in the console on Chrome.

`Uncaught (in promise) TypeError: Cannot read property 'activeTasks' of undefined`.

It seems that the call to `https://imagery-coordination.herokuapp.com/users/auth0%7C5845f88328be27504a2bf3a4/tasks?scope=created&includeStats=true&limit=10` is returning `Unauthorized`.

[2017-02-14 10:57] smit1678 commented on #90
@cgiovando Are there any links to who is working on the ground that we're working with? Context for who and what partners are we directly working with that will use the imagery and data?

[2017-02-14 11:20] smit1678 opened #92 "Dashboard pagination not available"
For the user `smit1678`, the dashboard view only shows 10 tasks but this user has 12 tasks created and pagination is not available.

[2017-02-14 11:25] smit1678 opened #93 "Integrate imagery date if available"
In the Imagery Search page, would be useful to see the date of the imagery in view if available. This may only be available from Bing at the moment, but OAM will also have this and other sources potentially could have it.

Implementation could be along the lines of http://mvexel.dev.openstreetmap.org/bing/, or just a simple date in the corner for communicating the information.

[2017-02-14 11:25] danielfdsilva commented on #91
Fixed

[2017-02-14 11:25] #91 closed, assigned to danielfdsilva

[2017-02-14 11:48] pedrito1414 opened #94 "Cheat sheet for NGOs who are buying imagery"
* **Description:**
	When MSF buys imagery, there is often confusion as to what license to purchase to enable mapping into OSM, HOT / Missing Maps style. I think a cheat sheet would be helpful that spelled out what license was needed for a) OSM mapping, and b) OAM hosting

* **Collaboration potential:**
The MSF Austria team (the bit of MSF most involved with imagery purchase, tasking and processing

[2017-02-14 11:53] pedrito1414 opened #95 "Documentation on how to process and host imagery so it is appropriate for TM tasking"
* **Description:**
	Last image MSF bought for Missing Maps activity (see: http://tasks.hotosm.org/project/2488) was processed in-house but not properly. The TMS produced didn't display anything in iD or JOSM. Basically, MSF doesn't have the knowledge to be able to process imagery for Missing Maps activities.

	In the end, I had to ask Nate to help me out by processing the image and setting up the

[2017-02-14 17:35] cgiovando commented on #90
The primary requester of baseline map data is the World Bank, in order to conduct damage assessment. I expect the same data to be used by other responding organizations though.

[2017-02-16 23:10] pratikyadav commented on #76
@mjvanderveen  Thanks for the info.

I'll move fwd for this request. I will post here as soon the imagery is live on Mapbox satellite layer.

cc @d3netxer @smit1678

[2017-02-17 00:03] danielfdsilva commented on #81
@smit1678 I fixed this by overriding the typographic settings, but this is part of the oam-design-system, and it is so intentionally. If it poses a problem it can be changed.

[2017-02-17 09:29] smit1678 commented on #81
@danielfdsilva If it was originally intentional is an override the right thing here? Are there other ways to solve this?

[2017-02-17 09:42] danielfdsilva commented on #81
@smit1678 These "misaligned" numbers are called [old-style figures](https://www.fonts.com/content/learning/fontology/level-3/numbers/oldstyle-figures) and it's a stylistic setting that can be enabled for open type fonts.

Although these numbers look good on text and can improve legibility, when used alone for stats, they can look out of place.

Since it poses a a problem for this project an overri

[2017-02-17 10:51] smit1678 commented on #81
@danielfdsilva Ok thanks, that makes sense and it can work well in certain situations, like the [oam homepage](https://openaerialmap.org/). Do you agree that the alignment when standalone looks a bit off here? This may only be an issue when the numbers are <10.

[2017-02-17 11:08] danielfdsilva commented on #81
It doesn't bother me in the user name for example, but standalone numbers do look off. Having two numbers could look better, be it >10, or 0 padding.

[2017-02-17 14:27] smit1678 commented on #81
Agreed

[2017-02-17 14:31] smit1678 commented on #80
Test KML file: https://drive.google.com/file/d/0B0qNVunoiiLmR1R5VUtsdXlWUWs/view?usp=sharing

[2017-02-21 10:09] pratikyadav commented on #76
@mjvanderveen  We just rolled out imagery for this request and surrounding areas. Here are some screenshots

![screen shot 2017-02-21 at 3 21 13 pm](https://cloud.githubusercontent.com/assets/12744420/23159683/b7c6deb4-f849-11e6-94de-64e6935b50fc.png)
![screen shot 2017-02-21 at 3 23 18 pm](https://cloud.githubusercontent.com/assets/12744420/23159681/b79e80cc-f849-11e6-8b21-d53c8153263d.png)
![scr

[2017-02-21 10:19] smit1678 commented on #76
👌  Really nice imagery. Looks great. For reference, what's the date range on this new imagery?

[2017-02-21 10:40] pratikyadav commented on #76
@smit1678  Since this is coming from DG's mosaic product; I don't have the exact date.

[2017-02-21 16:21] #76 closed, assigned to pratikyadav

[2017-02-21 17:26] ascalamogna commented on #84
@smit1678 yeah I agree, I think we could move it to the upper right. That's a common design pattern, for example, see the edit or add new issue button placement on github.

[2017-02-21 17:34] ascalamogna commented on #82
Yes, this is problematic on satellite layers. We could either go with a white, I think this will still work on mapbox light as well, or decrease the grey opacity.

[2017-02-21 17:35] ascalamogna commented on #85
If the sentence and bullets say the same thing then I think one is fine.

[2017-02-23 12:40] smit1678 commented on #81
Fixed in https://github.com/hotosm/imagery-requests/pull/96

[2017-02-23 12:40] #81 closed, assigned to danielfdsilva

[2017-02-23 12:41] smit1678 commented on #79
Fixed in https://github.com/hotosm/imagery-requests/pull/96

[2017-02-23 12:41] #79 closed, assigned to danielfdsilva

[2017-02-23 12:41] smit1678 commented on #78
Fixed in https://github.com/hotosm/imagery-requests/pull/96

[2017-02-23 12:41] #78 closed, assigned to danielfdsilva

[2017-02-23 12:41] smit1678 commented on #70
Fixed in https://github.com/hotosm/imagery-requests/pull/96

[2017-02-23 12:41] #70 closed, assigned to danielfdsilva

[2017-02-23 12:41] smit1678 commented on #77
Fixed in https://github.com/hotosm/imagery-requests/pull/96

[2017-02-23 12:41] #77 closed, assigned to danielfdsilva

[2017-02-23 12:42] smit1678 commented on #80
Fixed in https://github.com/hotosm/imagery-requests/pull/97

[2017-02-23 12:42] #80 closed, assigned to nobody

[2017-02-27 18:45] smit1678 commented on #92
Fixed in https://github.com/hotosm/imagery-requests/pull/96

[2017-02-27 18:45] #92 closed, assigned to danielfdsilva

[2017-02-28 15:06] smit1678 opened #99 "Rename repo"
This was discussed in the meeting back in January. On the table is a proposal to change the repo name from: `imagery-requests` to `imagery-coordination`. This would make it more in line with the purpose of the working group and communicate that the process and tools that come out of this working group is focused more on coordination, not just requesting.

[2017-03-02 10:44] msilikale05 opened #100 "Request for imagery update"
* **Description:**

_The imagery is requested is for the piloting project in Maputo and Matola to adopt the participatory mapping methodology at the community level and to build strength in National Disaster Risk Management (DRM) and develop capacity to a Target community in an urban areas for local context in Mozambique_

_The imagery is to be used in JOSM as the base map when editing/digitizing

[2017-03-02 11:23] smit1678 commented on #100
Thanks for opening the issue here on Github @msilikale05.

A quick look at Bing and it looks like is all 2012 imagery in that area. I'm not sure what Mapbox and DG are at the moment, but they seem newer.

@pratikyadav is this something that you have the capacity to provide here?

[2017-03-08 21:04] RebeccaFirthy opened #101 "New imagery needed for Salima District, Malawi, to support UNICEF project"
* **Description:**
	New imagery is needed for some areas of Salima District, Malawi. We are setting up a project with UNICEF to map road network. Unfortunately the image quality is bad in some parts of the district. We are aiming to set up the project by 16th March. Assistance with imagery would be very appreciated. Best source of current imagery appears to be Bing.

* **Wiki link:** This is a HOT

[2017-03-09 07:00] msilikale05 commented on #100
Since we are working on the 10 cell houses, if its zoomed when digitizing or when the field papers are being created, it is lather less visible. I am not sure if this is something that can be updated, or if imagery can be provided. Thanks

[2017-03-09 07:07] pratikyadav commented on #100
@msilikale05 Thank you for opening this issue. 🙇

A quick note on imagery sources at the requested locations-

Resolution - Mapbox 50 cm and Bing 30 cm
Date of capture - Mapbox 2014-15 and Bing 2012
Imagery aesthetics- Both source are cloud-less and  colors are  good to identify features as building and road.

Are you expecting better resolution like 10cm; in that case it will be difficult as the

[2017-03-09 09:42] smit1678 commented on #101
@RebeccaFirthy Thanks for opening an issue here on github. I added the geojson from Slack into a gist: https://gist.github.com/smit1678/57140ddc1ff972a0eb07e3dba92e19b1.

Can you post a few more details about the project? What's the purpose of tracing roads and how will the better road data be used?

### Looking at other existing sources

I also started comparing other existing sources of imagery

[2017-03-09 19:04] GabrielOduori commented on #101
Hi @RebeccaFirthy please see my response on Slack.

Thanks,

Gabriel

[2017-03-09 19:39] vdeparday commented on #101
Adding the answer so that it is available outside of slack.

Imagery providery by HIU back in 2015 after the floods:
http://hiu-maps.net/hot/1.0.0/salima-2015-flipped/{z}/{x}/{y}.png

For the task available at http://tasks.teachosm.org/ ; searching for Salima

[2017-03-10 06:15] toffehoff opened #102 "Imagery Request: Cyclone Enawo in Madagascar"
* **Description:**
	Cyclone Enawo hit landfall on 7 March at around 10.30 a.m. local time equivalent to a Category 4 hurricane. Latest reports mention major damage in regions Sava, Analanjirofo, Sofia and Analamanga.
Need for latest imagery to do damage assessment and status of infrastructure.
[SITREP_CYCLONE_ENAWO_003_CRM.pdf](https://github.com/hotosm/imagery-requests/files/833115/SITREP_CYCLONE

[2017-03-10 10:09] smit1678 commented on #101
@vdeparday Excellent, thanks for finding that. That imagery covers a majority of the western part of the AOI. 👌

Looks like [task #1239](http://tasks.hotosm.org/project/1239) also has an HIU service in that area as well: http://hiu-maps.net/hot/1.0.0/maganga-10oct2014-flipped/{z}/{x}/{y}.png. I would say the above `salima-2015` link is best since it is more recent and has wider coverage.

![geojso

[2017-03-10 12:37] smit1678 commented on #102
Thanks for posting here @toffehoff. Here's a quick rundown of what's currently available:

* Bing and DG have the mostly the same imagery in the Marowantsetra area (dated ~2013):
  - ![hotosm imagerycoord 2017-03-10 12-10-54](https://cloud.githubusercontent.com/assets/796838/23794903/a31d858c-058a-11e7-81f8-08f75dc597c9.png)
  - In the Antalaha area, imagery is ~2012
* There is an existing MapGive

[2017-03-10 17:30] schmeltz commented on #102
Hi @smit1678 thank you for looking into this request. At this time, although it is likely change once we identify more AOIs, we can start with these communes. Let me know if that narrows it down or you need anything else. Thanks again!
[MDGImpactedCommunes.shp.geojson.zip](https://github.com/hotosm/imagery-requests/files/834649/MDGImpactedCommunes.shp.geojson.zip)

[2017-03-11 17:07] smit1678 commented on #102
@schmeltz That geosjon is helpful.

From the Slack channel conversation, @giblet22 found this image, DG catalogID 1050010008989C00, shot today of the Maroantsetra area: https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1050010008989C00

![](https://api.monosnap.com/rpc/file/download?id=IEgSfB9XPNgFy3r6hTIg1iNjf0B4LU)

Options at the moment are:

  * DG has the ability to rel

[2017-03-13 17:00] #24 closed, assigned to nobody

[2017-03-13 17:03] #21 closed, assigned to nobody

[2017-03-13 18:17] smit1678 commented on #102
To update, DG is working on releasing this image as a part of their Open Data program. It is currently in process. Will update as soon as it's made available.

[2017-03-15 11:02] smit1678 commented on #102
Thanks to DG the imagery is now online at: https://www.digitalglobe.com/opendata/tropical-cyclone-enawo/post-event.

We've processed this into a TMS that can be used within a TM task: `https://api.mapbox.com/styles/v1/hot/cj0atkwcn002g2sqppvhmwk4v/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaG90IiwiYSI6ImNqMGF0b3R2aDAwMHQycW55NjI5cWxnNGcifQ.LqDe7lRgv6l2JhJjVPLSWA`

[Preview the imagery here.](ht

[2017-03-15 11:13] smit1678 commented on #102
@toffehoff @giblet22 @schmeltz Is there an existing TM project in draft form ready for this, or does a new project need to be created?

cc @bgirardot

[2017-03-16 12:05] pratikyadav commented on #76
Hi @mjvanderveen @smit1678

Would love to get an update on the project and how helpful the imagery was for mappers. Do we have any task up that I can follow?

[2017-03-23 02:08] bgirardot-np opened #103 "Portiion of HOT Project #2501 not covered by hires imagery"
* **Description:**
This imagery is needed to complete http://tasks.hotosm.org/project/2501 Tanzania Development Trust mapping to combat female genital mutilation. Approximately 25% of the project area has no hires imagery available. This is a very large project area and their target completion date is fall of 2017 (they missed fall of 2016 original goal). The project is map roads, buildings, resid

[2017-03-28 22:32] cgiovando commented on #90
Focus from requesting organization shifted to another affected area, so I'm closing this thread for now.

[2017-03-28 22:32] #90 closed, assigned to nobody

[2017-04-02 00:05] remigio-chilaule commented on #100
Thanks for your explanations @smit1678 and @pratikyadav. I am working with @msilikale05 on the same project. We will try out as suggested, thanks.

[2017-04-14 09:39] smit1678 opened #107 "Switch /imagery-search to /search"
Unless there is strong reason for keeping it as is, let's look to shorten the url for the Imagery Search view. This will make it more concise, easier to read, and share.

`https://coordination.openaerialmap.org/#/imagery-search` ---> `https://coordination.openaerialmap.org/#/search`

[2017-04-19 05:32] smit1678 commented on #87
This has been implemented 👌

[2017-04-19 05:32] #87 closed, assigned to nobody

[2017-06-12 10:11] smit1678 opened #108 "Improve navigating between tasks, requests, home page"
Feedback from user test: Going back from a task to request was not entirely clear. Going back to main landing view was not clear as well.

[2017-06-12 10:33] smit1678 opened #109 "Status wording or descriptions"
Feedback from user test: wording of the status. Open status was slightly confusing and didn't convey whether it was active. Complete wasn't entirely clear. Is it complete of the flight or complete that the right product was produced and ready.

To do: review wording. May need to look to reword, add descriptive text, or look to add more types of statuses for better granularity.

[2017-06-12 10:35] smit1678 opened #110 "Search functionality to map views"
Feedback from user testing: add search bar functionality to map views. Difficult to find very small places or islands when all you have it zooming and panning on the map. This is helpful for the Imagery Search view as well as when defining the AOI for the task.

[2017-06-12 10:38] smit1678 opened #111 "Improve add request workflow"
Feedback from user test: Didn’t know what to do next after finding area. Skip this step wasn’t clear.

![hotosm imagerycoord 2017-06-12 11-36-37](https://user-images.githubusercontent.com/796838/27030302-9d181b16-4f63-11e7-9735-8225954b9976.png)

[2017-06-12 10:40] smit1678 opened #112 "Change Request Name to Request Title and add description"
Feedback from user test: name was confusing. Initial thought was to fill in name of the person.

Change from name to title. Add a description

[2017-06-12 10:41] smit1678 opened #113 "Allow selecting future date range"
Feedback from user test: Couldn't select a date range in the future. Needs to allow selecting a future date range for planning. Some collections need to be planned in advance.

![hotosm imagerycoord 2017-06-12 11-40-39](https://user-images.githubusercontent.com/796838/27030401-fc310554-4f63-11e7-8cbe-07ef169309d1.png)

[2017-06-12 10:42] smit1678 opened #114 "Add descriptive text to Requesting Organization"
Feedback from user test: Wasn't clear who should be within the Requesting Organization.

Should add some descriptive text to help clarify.

[2017-06-12 10:45] smit1678 opened #115 "Improve visibility of descriptive help text"
Feedback from user test: help notes on the Request Form are slightly hidden. Notes were not immediately read when they are below the input box. Could be helpful to have them higher up or exposed differently to ensure readability.

![hotosm imagerycoord 2017-06-12 11-43-14](https://user-images.githubusercontent.com/796838/27030502-6e3c3af6-4f64-11e7-8369-2f869fc03e66.png)

[2017-06-12 10:48] smit1678 opened #116 "Improve how to draw or add a task AOI"
Feedback from user test: slight confusion on how to draw or add a task AOI. Drawing buttons were slightly hidden on the right side and there was no descriptive help text.

![hotosm imagerycoord 2017-06-12 11-46-38](https://user-images.githubusercontent.com/796838/27030643-f2f6185c-4f64-11e7-8570-9af12ac8e0f4.png)

[2017-06-12 10:57] smit1678 opened #117 "Task Time Provided and Deliver By dates"
Feedback from user test: allow future dates and better help text. related to #113

![hotosm imagerycoord 2017-06-12 11-50-14](https://user-images.githubusercontent.com/796838/27030789-7a87d6c0-4f65-11e7-8c76-9480cbfb247a.png)

[2017-06-12 11:03] smit1678 opened #118 "Push notifications"
Future idea from user test: push notifications via email or chat. Integrations with chat services would allow quicker response or get updates via a service instead of visiting the site.

[2017-06-12 11:19] smit1678 opened #119 "Request and task details hidden"
Feedback from user test: request and task details felt hidden below the map. Users felt that they didn't have the necessary context information before looking at the map. Could be helpful to review placement and raise up higher on the page to provide key information quicker to a user.

![hotosm imagerycoord 2017-06-12 12-04-11](https://user-images.githubusercontent.com/796838/27031234-5aecaec4-4f6

[2017-06-12 11:29] smit1678 opened #120 "Improve visually communicating status"
Feedback from user test: Difficult to quickly see status on the cards with the dot. Could be helpful to have the mini map AOI color match the status color. Bring better connection between the large map view and the cards.

![hotosm imagerycoord 2017-06-12 12-25-46](https://user-images.githubusercontent.com/796838/27031981-84be50e2-4f6a-11e7-83e4-802c71834408.png)

[2017-06-12 11:33] smit1678 opened #121 "Limit task size"
Feedback from user test: limit task AOI size when creating a new task. It may be helpful when creating tasks for UAVs to limit the size you can create.

This will be difficult to set to one size because of varying capabilities of UAV models, but marking here to discuss and evaluate what makes the most sense.

[2017-06-12 11:35] smit1678 commented on #69
To add here based on feedback from user testing: legends need to be on all map views to help with interpretation. Difficult to understand coloring without looking at the cards. Having a legend on the map will improve how a user interprets the map information.

[2017-06-12 17:19] bgirardot commented on #103
The new DG Standard Layer made available to OSM covers this request. I notified those involved and am closing this. Thank you @DigitalGlobe

[2017-06-12 17:19] #103 closed, assigned to nobody

[2017-07-11 10:26] smit1678 opened #122 "Specify sharing conditions of the imagery"
When user creates a task, they have to specify the sharing conditions of the imagery

[2017-07-11 10:32] smit1678 opened #123 "Locking tasks for a period of time"
Feedback idea: When user signs up for a task, that AOI gets "locked" for a certain period of time by the end of which it gets released if the task hasn't been completed.

[2017-07-11 10:33] smit1678 opened #124 "Allow approved operators to be assigned tasks"
Feedback idea: Only allow approved operators to sign up for AOIs

[2017-07-11 10:34] smit1678 opened #125 "Operator rating system"
Feedback idea: Add rating system where operators can be rated (e.g. 5 star scale) based on quality/speed of task completion

[2017-07-11 13:17] #84 closed, assigned to nobody

[2017-07-17 12:20] #99 closed, assigned to nobody

[2017-07-17 14:54] sharkinsspatial commented on #116
Could things be clarified by moving the drawing control buttons out of the map into the create task section?  All of the AOI operations (choose file or draw) would then be logically contained.

[2017-07-17 15:12] smit1678 opened #126 "Integrate UAV mapping technical guidelines"
A UAV mapping technical guidelines document is being developed. This will most likely be made available Gitbooks.

Needs:
* embed or expose parts of the guidelines to enable quick access or use it as a quick reference resource
* appropriately link to sections of the guidelines from the app

These are first thoughts and needs more discussion.

[2017-07-17 15:34] smit1678 opened #127 "Chin State - Multi hazards Risk Assessment, ADPC"
* **Description:**
	_Current available satellite imagery layers are old or low-resolution - Mapbox age seems to be 2009 DG WV1 imagery. Task #3257 is in need of updated, high resolution imagery in order to digitize buildings into OpenStreetMap. The project is focused on generating buildings for a multi-hazard risk assessment being conducted by the Asian Disaster Preparedness Center._

* **Wiki lin

[2017-07-17 15:36] smit1678 commented on #127
These DG CatIDs would probably be ideal for recency, low clouds, and covers the AOI:

1030010066C7CF00
103001006654F300
1030010065AAF200
1030010065B25600

WV02 imagery dated Mar 3, 2017

[2017-07-19 13:15] sharkinsspatial commented on #88
Can we consider having pan and zoom operations only enabled on the main map?  In this case the we can change the cursor style for the child maps to pointer with tool tip indicating that the map is selectable.

[2017-07-19 13:48] smit1678 commented on #88
@sharkinsspatial 👍  I like that idea. What do you think of also having a visual indication that the main is "selected"?

[2017-07-19 14:08] sharkinsspatial commented on #88
I will also include a highlighted box around the currently selected child map to help clarify that it is currently selected.

[2017-07-19 16:43] sharkinsspatial opened #128 "Store reference in Actions creates circular reference for reducers with Babel."
[Reference](https://github.com/hotosm/imagery-coordination/blob/develop/app/assets/scripts/actions/index.js#L5) to Redux store in actions creates a circular reference for reducers and createStore which prevents Babel transpilation for testing reducers in isolation.

[2017-07-21 17:06] smit1678 commented on #121
To do: determine reasonable limit for UAVs and satellite imagery

[2017-07-24 21:16] d3netxer commented on #127
We finished processing the imagery and sent out the imagery service

[2017-07-24 23:13] smit1678 commented on #122
Potential solution:

![hotosm imagerycoord 2017-07-25 00-10-53](https://user-images.githubusercontent.com/796838/28548760-d85c5e4a-70cd-11e7-8e29-7a68b4a8209e.png)

[2017-07-25 10:20] smit1678 opened #129 "Calculate in progress status for Requests"
Currently we have only three statuses for Requests: open, closed, cancelled. On the landing page map, we only show these three statuses. For open requests, it would be helpful to know which Requests are open and in progress, in comparison to the open requests but are not in progress.

Proposal: calculate in progress status based on the tasks that are within the request.

Example request and task:

[2017-07-25 10:21] smit1678 commented on #82
Closing this out. Let's review after legend and other improvements are implemented.

[2017-07-25 10:21] #82 closed, assigned to nobody

[2017-07-25 10:26] smit1678 commented on #121
@cgiovando what kind of area would you suggest for UAVs versus satellite imagery?

Upon thinking about this more, I think I would suggest that we only display warnings based on if UAV or satellite imagery are the type of collection platform. Hard limitations may make edge cases difficult from a user experience perspective.

[2017-07-25 10:37] smit1678 commented on #119
To do here: come up with a new layout to raise the request details up above the map. Not all details may be needed. Priorities are Requesting Organization, Time Period, Product Type, GSD

[2017-07-25 10:48] smit1678 opened #130 "Rename Time Period Requested"
Related to #113, rename to Desired Time Frame

![](https://api.monosnap.com/rpc/file/download?id=81gjymkr8uyGHZ7tIpXhl8fBKrTU9X)

[2017-07-25 11:02] smit1678 opened #131 "Reorder Task create/edit fields"
Related to #117, reorder task create/edit form to better communicate details. From feedback there was confusion around what is date provided versus date to deliver by. The order confused people.

Proposing a change to the order:

![](https://api.monosnap.com/rpc/file/download?id=FNtLlkwDc5c3bs0n6pC5fkGZGm6jav)

[2017-07-25 11:04] smit1678 commented on #117
To clarify by separating out the help text/communication issue, new issue is in #131.

Next action here is to allow future date selection.

[2017-07-25 11:08] smit1678 commented on #109
Related to #129

[2017-07-25 11:09] smit1678 commented on #112
![](https://api.monosnap.com/rpc/file/download?id=tY9i1Ufj1dNVgfKD4BRI93DG4LrM3y)

[2017-07-25 11:11] smit1678 commented on #111
Proposal:

Once map has been interacted with (zoom or panned to a location), enable/make active an Add Request button to communicate to the user that they can move to the next step.

[2017-07-25 11:16] smit1678 opened #132 "Initial zoom and center for task AOI creation"
Related to #111, carry map view from search page into initial task set up.

Problem: When adding a new request, the first step is to pan on the search map and find your area. You compare the existing imagery and then when you are ready, you move to the next step of creating the Request. Once your request is created, your next step is to draw an AOI on the map to create your first task. The problem

[2017-07-25 11:26] smit1678 commented on #89
Example task: https://coordination.openaerialmap.org/#/requests/59771e3aeb38a400111f12c0/tasks/59772a69eb38a400111f12c9

![hotosm imagerycoord 2017-07-25 12-25-24](https://user-images.githubusercontent.com/796838/28570092-6b56bd7e-7134-11e7-9e0d-c6fc94b5a43a.png)

[2017-07-25 11:30] smit1678 commented on #122
Need to add in what would be the sharing options

[2017-07-25 11:38] smit1678 opened #133 "How to scale the imagery search to more sources?"
It would be nice to be able to scale the imagery search to more sources. OAM in the future, but also add a custom TMS layer for comparison. How do we scale this layout?

![hotosm imagerycoord 2017-07-25 12-35-31](https://user-images.githubusercontent.com/796838/28570425-0125067a-7136-11e7-9f83-ff2b52079dd2.png)

[2017-07-25 11:45] smit1678 commented on #93
Posting screenshot of the Bing analyzer app:
![bing aerial imagery analyzer for openstreetmap 2017-07-25 12-41-47](https://user-images.githubusercontent.com/796838/28570593-b8a1c2f2-7136-11e7-975d-e3e153c948de.png)

I think we could do something along the lines of this without color transparency nor showing number of tiles.

Question: do we want this feature on all the time for sources that have i

[2017-07-25 15:00] sharkinsspatial opened #134 "Refactor singleton store to support dispatching routeActions."
* **Description:**
	_Context useful to identifying priority of request (specific resolution required, date that needs to be hit, etc). Please note quality of Bing imagery,Mapbox and other imagery sources over same location in this section._

* **Wiki link:** _link to relevant wiki for activation_

* **Request extent**: _Link to gist map showing exact extent being requested. Please include screensh

[2017-07-28 16:22] smit1678 opened #138 "Set up staging environments"
We previously had one going, want to set this up again; to do:

- [x] set up API on free heroku tier
- [x] set up S3 bucket for frontend
- [x] link up API deployment from `develop` to heroku with travis
- [x] link up frontend deployment from `develop` to S3 with travis

[2017-07-28 18:01] sharkinsspatial opened #139 "Investigate sprite issue with Mapbox Light style."
Currently the application is requesting raster tiles for the Mapbox Light style rather than leveraging the vector tiles directly.  After some investigating switching I noticed that there are issues with the current style returning 401 errors for sprites at some zoom levels (probably related to using an outdated Mapbox base style).  Someone with access to the Mapbox Studio account will need to inve

[2017-07-31 11:40] smit1678 commented on #139
@sharkinsspatial I wasn't sure on where the issue was coming from (couldn't replicate) so I just republished the existing basemap we were using to see if that helps. But also created a brand new style to test to see if this fixed it because of an outdated style:

[code]

[2017-08-01 19:38] sharkinsspatial commented on #139
Hi Nate:
I tracked down the issue to a Mapbox token in the config files which was no longer valid.  Thanks.

[2017-08-04 17:32] #139 closed, assigned to nobody

[2017-08-04 17:32] #134 closed, assigned to nobody

[2017-08-07 18:13] smit1678 commented on #116
From #141, the new edit AOI operations are in place. First take on the UI is as follows:

![img-coord-edit-test](https://user-images.githubusercontent.com/796838/29037875-61b3cae6-7b9d-11e7-8808-053bce12657f.gif)

@sharkinsspatial I like the help text changing and providing guidance to the user. One point of feedback when I first edited: I only had a mouse change to know that I could edit. Help te

[2017-08-07 18:25] sharkinsspatial commented on #116
@smit1678 @brendangatens.  I'm up for whatever you guys feel is the most intuitive for the user here.  We can definitely  have a button users need to click in order to enable drawing.  I omitted it in this initial cut as it seemed like extra step rather than dropping the user directly into draw mode, but both either approach is relatively easy to set up.

[2017-08-08 15:49] #132 closed, assigned to sharkinsspatial

[2017-08-08 19:24] #88 closed, assigned to sharkinsspatial

[2017-08-08 21:38] sharkinsspatial commented on #121
Displaying different size warning based on product types will require a small change to the [API](https://github.com/hotosm/imagery-coordination-api/blob/b24b7c092d451654940bdf6bb9e263be0ed06a0b/app/utils/utils.js ) to include the product information from the parent request in the returned task.
 Not sure how you want to coordinate pull requests across repositories?

[2017-08-09 08:41] smit1678 commented on #121
👍  ok that makes sense; I can help coordinate with you. The staging front-end is a connected to a staging API that is running the `develop` branch. So we can test deploy there. I can help test anything locally first as well.

[2017-08-09 17:16] sharkinsspatial commented on #121
@smit1678 @cgiovando Do we have a limit in square meters I can use for this?  There should be one for UAV and then one for everything else.

[2017-08-10 08:55] cgiovando commented on #121
Hey @smit1678 @sharkinsspatial - I think warning may be OK, but I would not set any arbitrary limit. There are different factors that will impact the capacity of providers to cover AOIs with specific platforms and sensor combinations. Listing some here, then we should look at potentially integrating with flight planning software models for UAVs.

- GSD: a higher target resolution would require eit

[2017-08-10 11:40] smit1678 commented on #121
@cgiovando Yes, exactly why a warning is better than a strict limit. So here's what I propose to start with:

UAV: warning at 1sqkm
Satellite imagery: 1000sqkm

[2017-08-11 09:57] #121 closed, assigned to sharkinsspatial

[2017-08-14 16:10] #120 closed, assigned to sharkinsspatial

[2017-08-15 16:32] smit1678 commented on #127
I updated and closed out the request on Coordination: https://coordination.openaerialmap.org/#/requests/596c7cc8eb38a400111f12b2

[2017-08-15 16:32] #127 closed, assigned to nobody

[2017-08-22 13:27] kiggudde opened #145 "Crowd sourcing Non-Camp Refugee Data"
* **Description:**
	_An escalation of violence in South Sudan since July 2016 has lead to a large population movement into the north of neighboring Uganda. An estimated rate of between 2,000 and 3,000 displaced persons cross the border into Uganda each day. In a rapidly developing situation such as this, it is vital that accurate and up-to-date mapping information is available to allow the ERU to

[2017-08-24 13:14] smit1678 commented on #145
Looking at the latest imagery, looks like the most recent imagery is April 2017. These two IDs:

* [104001002C746300](https://api.discover.digitalglobe.com/show?id=104001002C746300)
* [104001002C886E00](https://api.discover.digitalglobe.com/show?id=104001002C886E00)

To resolve this request, we'd have to be ok with a little older imagery OR look to put in a request for a new collect. These are of

[2017-09-07 08:07] brendangatens commented on #133
What do you think getting rid of the main map, while displaying the data that we’re comparing in a fuller size?

If we have the option to choose a data source from a select menu, we could start the comparison with just two sources while adding the ability to add a third. Click around the prototype to see how this could work. https://marvelapp.com/23ef2ie/screen/32131157

[2017-09-07 08:08] brendangatens commented on #119
I’d maybe like to see the map placed on the right-hand side of the screen so that the request details can be brought up on the left. I’ll mock this up.

[2017-09-07 08:08] brendangatens commented on #115
I’d like to see the help text moved above the form field (but below the label). If we think that this creates a disconnect between the label and its associated field, I would increase the spacing between each form group.

[2017-09-07 08:09] brendangatens commented on #110
Yup, let’s try and add the same search bar that we plan on using ([this one](https://marvelapp.com/350efei/screen/31936237)) on map.openaerialmap.org across all maps. In the case that we have a search that will affect multiple maps, that search bar will need to be brought out of the map boundaries ([like so](https://marvelapp.com/23ef2ie/screen/32131157)).

[2017-09-07 08:10] brendangatens commented on #93
Here’s an example of a toggle to show image dates: https://marvelapp.com/23ef2ie/screen/32131157

I agree with Nate about possibly not needing the color overlay (it makes it difficult to see the actual data) and the text showing the number of tiles.

[2017-09-11 10:42] smit1678 commented on #133
I like this a lot. 👍

[2017-09-11 14:22] sharkinsspatial commented on #133
I'll have to look into how to handle the 'Add another source' for responsive layouts but I like this approach.

[2017-09-17 19:50] sharkinsspatial commented on #109
@smit1678 Any feedback on new descriptions so we can close this one out for the milestone?

[2017-09-17 19:54] sharkinsspatial commented on #119
@brendangatens @smit1678 Any ideas on mock ups for this layout?

[2017-09-18 10:24] brendangatens commented on #119
@sharkinsspatial here's a crude mockup of a potential layout. I think the map could still be large enough if it were placed on the right-hand side and took up half the width of the screen. We could also make it taller if need be. The request details (Requesting organization etc) could be placed two per row so that the larger text (Purpose/Use/Notes) isn't pushed down too far. The page header (whic

[2017-09-20 13:06] smit1678 commented on #109
@sharkinsspatial Yes, will work on these over the next day and post here.

[2017-09-21 11:01] smit1678 commented on #109
How about this? cc @cgiovando

Requests can be:
* Open
* Active - this is new (perhaps if it has In Progress tasks?)
* Closed
* Cancelled

Tasks can be:
* Open
* In Progress
* Completed

[2017-09-21 14:51] cgiovando commented on #109
Those look good to me. If there's a way to add a `?` tooltip for each, then we could include more explicit descriptions to what each status means:

- Open --> `The request has been submitted`
- Active --> `Tasks are in progress in order to fulfill this request`
- Closed --> `This request has been fulfilled`
- Cancelled --> `This request has been cancelled before completion`

For tasks:

- Open -->

[2017-09-21 15:05] smit1678 commented on #109
Well right now, when you create a task, it's set as Open. Just not assigned to anyone. Do we want to have the difference between Open, Open and Assigned (Planned), and Open and Collecting (In Progress)?

[2017-09-22 13:34] sharkinsspatial opened #148 "Milestone 2 layout changes"
Move request details map to the right.
Resize task details map to half page.
Reduce header space.

[2017-09-22 13:52] smit1678 commented on #109
Update after discussion with @sharkinsspatial: we're going to hold on this for a bit since some of this may make more sense to rethink how requests and tasks interact with each other in the future. We'll keep the three levels but expose the three Task levels better in the tooltip and cards -- which is being handled in #129.

[2017-09-24 22:10] smit1678 opened #149 "Data not loading on mobile view"
Data does not seem to load on mobile views. This is on the landing page as well as directly linking to Request pages. Seeing this on Safari, Chrome, and Firefox all on iOS 10. Not able to replicate on desktop or using the Simulator on OSX.

@sharkinsspatial Seeing this on both the production site as well as [staging](http://imagery-coordination-staging.s3-website-us-east-1.amazonaws.com/).

Inspec

[2017-09-24 22:37] #110 closed, assigned to sharkinsspatial

[2017-09-24 22:37] #116 closed, assigned to sharkinsspatial

[2017-09-24 22:37] #131 closed, assigned to nobody

[2017-09-24 22:37] #112 closed, assigned to nobody

[2017-09-24 22:37] #113 closed, assigned to nobody

[2017-09-24 22:37] #114 closed, assigned to nobody

[2017-09-24 22:37] #115 closed, assigned to nobody

[2017-09-24 22:37] #117 closed, assigned to nobody

[2017-09-24 22:37] #119 closed, assigned to nobody

[2017-09-24 22:37] #130 closed, assigned to nobody

[2017-09-24 22:37] #148 closed, assigned to nobody

[2017-09-24 22:39] smit1678 commented on #138
Staging site here: http://imagery-coordination-staging.s3-website-us-east-1.amazonaws.com/#/

[2017-09-24 22:39] #138 closed, assigned to smit1678

[2017-09-26 15:41] sharkinsspatial opened #150 "Update gulp to use production NODE_ENV for React import in staging."
* **Description:**
	_Context useful to identifying priority of request (specific resolution required, date that needs to be hit, etc). Please note quality of Bing imagery,Mapbox and other imagery sources over same location in this section._

* **Wiki link:** _link to relevant wiki for activation_

* **Request extent**: _Link to gist map showing exact extent being requested. Please include screensh

[2017-09-27 04:02] cgiovando opened #153 "Add link to download AOI from task page"
in GeoJSON and KML polygon format, for surveyors to input directly in flight planning software.

[2017-09-27 12:48] sharkinsspatial commented on #149
It appears this is an upstream [issue](https://bugs.webkit.org/show_bug.cgi?id=173295) in Webkit (all browser flavors use Webkit on iOS internally rather than their normal renderer).  This issue has been replicated with AppleWebKit/603.3.8 on iOS 10_3_3.

[2017-10-04 18:51] sharkinsspatial opened #155 "Refactor dashboard main map to include displayed task filtering."

[2017-10-04 18:53] sharkinsspatial opened #156 "Refactor task progress main map and move page to task editing."

[2017-10-31 14:24] sharkinsspatial opened #157 "Include action sanitizer for Redux devtools extension."
References https://github.com/zalmoxisus/redux-devtools-extension/issues/407